[2020-05-10 10:31] fmvilas opened #1 "Improve errors"
Right now, we're building the errors manually in many places, which is error-prone and leads to a lot of duplicated code.

It would be great to add methods to deal with error creation, such as:

[code]

which internally, it would be something like:

[code]

[2020-05-10 10:33] fmvilas opened #2 "Add missing error documentation pages"
Whenever we render an error page, it links to a documentation page where you can find more information about the error. This pages don't exist yet. That's what this issue is all about.

[2020-05-31 10:17] fmvilas opened #3 "Filter by project not working"
Filter by project is not working properly.

[2020-05-31 10:17] fmvilas opened #4 "Can’t select org when creating a project"

[2020-05-31 10:18] fmvilas opened #5 "Move APIs between projects"
It is common to start drafting something on your own personal project and then move it to a team-owned one.

[2020-06-02 08:20] fmvilas opened #6 "Examples are not highlighted"
Examples on HTML template documentation are not highlighted.

[2020-06-05 16:39] fmvilas opened #7 "Team plan: new org is on free plan"
I'm on the highest plan possible without any restrictions. I can create multiple orgs but when I do it, the new orgs are created as "free" plan.

[2020-07-03 15:46] fmvilas opened #8 "Move plugins to their own repos"
Currently, the plugins source code is located at a `plugins` folder on the root directory of the project. They should have their own repo, either one repo for each or a plugins repo.

[2020-07-14 14:41] fmvilas opened #9 "Increase payload size"
We should implement this change on Studio too: https://github.com/asyncapi/playground/pull/21

[2020-08-18 15:23] galvo opened #30 "DockerHub Image"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
It would be beneficial to developers to be able to run this locally and internally within organisations.

- How will this change help?
Pushing the docker image for every new release to docker hub

- What is the motivation?
Swagger Editor also provides this https://hub.docker.com/r/swaggerapi/swagger-edi

[2021-03-13 22:04] #7 closed

[2021-03-13 22:04] #6 closed

[2021-03-13 22:08] fmvilas opened #10 "Use React component instead of HTML template"
Once [this is done](https://github.com/asyncapi/shape-up-process/issues/83), we should remove the HTML template and start using the React component. This has many benefits. For instance, we can do everything on the client-side.

[2021-03-13 22:10] fmvilas opened #11 "Convert documents from 1.x to 2.0.0"
Implement functionality to convert from AsyncAPI 1.x to 2.0.0, like in the Playground.

[2021-03-13 22:12] fmvilas opened #12 "Support base URL using request headers"
Support customization of the base URL using headers like Playground does here: https://github.com/asyncapi/playground/blob/master/src/server/routes/html.js#L23.

[2021-03-14 09:29] fmvilas opened #14 "Create a Google Analytics plugin"
### Description

We used to have Google Analytics hardcoded (see #13). However, some people may not want to use it so it's better if we make it a plugin instead.

### Implementation suggestion

1. Go to `src/pages/_app.js` file and make it trigger a new kind of event on the `render` function. For instance, something like a `page:render` event. Make sure this event is only triggered on the client-s

[2021-03-26 15:29] AceTheCreator commented on #14
Hi, @fmvilas I'd really love to contribute and help with the development of the studio. I'd love to start by fixing current open issues. and is there a slack group for the ongoing development of the studio?

[2021-03-26 16:07] fmvilas commented on #14
Hey! Sure, you can join us at asyncapi.com/slack-invite. There's a #tooling channel there. Thanks!

[2021-04-01 20:33] AceTheCreator commented on #14
@fmvilas When the page renders, should there be a popup that asks if users want to enable google analytics? And also developers can manually enable/disable the plugin from the codebase.

[2021-04-01 20:37] AceTheCreator commented on #8
I can actually implement this since I'm currently working on the google analytics plugin

[2021-04-02 20:43] fmvilas commented on #14
Yeah, the way to configure the plugins you want to load is to edit this file here: https://github.com/asyncapi/studio/blob/master/config/plugins.json.

[2021-04-12 08:07] derberg commented on #30
moved issue to studio as it will be our new playground and the only official docker image we will provide for the studio, not playground

[2021-04-12 13:24] AceTheCreator commented on #14
@fmvilas Can i change the _app.js to a functional component? or is there a specific reason why you're using class component?

[2021-04-12 14:04] fmvilas commented on #14
No problem. Feel free to change it.

[2021-04-12 15:11] AceTheCreator commented on #14
@fmvilas I'm having issue with plugin path after adding a plugin to the plugins.json file.
on the left panel is the error message i'm getting when loading a plugin. Note: the plugin successfully loaded but after i get this message. Any idea how to fix it?
![download (1)](https://user-images.githubusercontent.com/40604284/114417475-89e1ff80-9ba9-11eb-9536-fc5ced80ff5e.png)

[2021-04-12 15:13] AceTheCreator commented on #14
In the plugins.json file i just pass it like this `{ plugins: ['path to plugin folder', ... ] }` I'm i doing something wrong?

[2021-04-12 16:08] fmvilas commented on #14
mmmm not sure. Can you push a PR so I can try myself?

[2021-04-14 19:21] AceTheCreator commented on #14
@fmvilas try using the existing code by adding sentry path to the list of plugins in the `plugins.json` file and see.

[2021-04-14 19:57] fmvilas commented on #14
Oh! I know what's happening. Plugins are **always** loaded from `node_modules`. So if you try to load `./plugins/google-analytics` it's going to try to load `node_modules/plugins/google-analytics`. The best way to overcome this during development is to link the module like this:

[code]

Then go back to the project root directory and tell it you want to use the linked package:

[code]

And now on

[2021-04-14 20:48] AceTheCreator commented on #14
Yeah it makes sense . One more thing @fmvilas  how do i make the plugin subscribe to an event on page render?

[2021-04-14 20:53] AceTheCreator commented on #14
@fmvilas is the event.on for subscribing and event.emit for triggering?

[2021-04-14 21:12] fmvilas commented on #14
Yes! But you probably will have to emit the event yourself when a page is rendered. And also subscribe on the plugin side, of course.

I recommend you to have a look at the Node.js [EventEmitter](https://nodejs.org/api/events.html), which is what we're using right now.

[2021-04-14 21:18] AceTheCreator commented on #14
Ok I'll have a look at it.
When i import the event to ._app.js i get an error requiring fs which i was able to overcome by ignoring npm packages that depend on `fs` module. But after that i get this error relating to .env
![download (2)](https://user-images.githubusercontent.com/40604284/114780498-64065780-9d6f-11eb-9345-8832a4d0264e.png)

[2021-04-14 21:21] AceTheCreator commented on #14
I tried ignoring it but it seems it has something to do with the overrideWithEnvVars function in the lib which i know is specific for server side. Any idea how i can overcome this?

[2021-04-16 14:29] AceTheCreator commented on #14
@fmvilas I was able to resolve this problem, so don't worry looking into it.

[2021-04-16 14:32] AceTheCreator commented on #14
@fmvilas How do i make the plugin subscribe to the event? I already define a `page:render` event on the plugin's `package.json`, how do i get to use this event? I'm kinda confuse.

[2021-04-16 14:33] fmvilas commented on #14
Oh, I completely missed your messages above. Glad you were able to solve it. Bear in mind that `_app.js` is a file that executes on the server first and then again on the browser, so nothing backend-related can be imported there, especially environment variables which may contain secrets.

That means you'll have to create an eventing system for the front end. Something like [this](https://github.c

[2021-04-16 14:37] AceTheCreator commented on #14
Ok I'll do that. But how can i make the plugin subscribe to an event?

[2021-04-16 14:41] AceTheCreator commented on #14
How do i make use of this plugin code below in the app.
![download (3)](https://user-images.githubusercontent.com/40604284/115041176-21a55d80-9eca-11eb-8905-49dda15c864a.png)

[2021-04-19 21:13] AceTheCreator commented on #14
@fmvilas I'm trying to make the plugin subscribe to the `page:render` event. On page render i emit the the event, will i also have to import the plugin in the `_app.js` file and listen for the event and trigger the plugin cuz i'm quite confuse 😶‍🌫️. Should i open a draft PR? So that you can point me to the right direction

[2021-04-23 20:48] fmvilas commented on #14
Yeah, I think that's the best way.

[2021-05-17 12:40] AceTheCreator commented on #14
@fmvilas when I subscribe to the event from a different file and I trigger it in the app.js render it doesn't work. For instance, when I call event names from the app.js to check the list of subscribed events, it returns an empty array. Except I call both the subscribe and trigger event within the page render function in the app.js
@fmvilas please check out my updated draft PR

[2021-05-17 12:40] AceTheCreator commented on #14
@fmvilas when I subscribe to the event from a different file and I trigger it in the app.js render it doesn't work. For instance, when I call event names from the app.js to check the list of subscribed events, it returns an empty array. Except I call both the subscribe and trigger event within the page render function in the app.js
@fmvilas please check out my updated draft PR

[2021-05-18 15:49] fmvilas commented on #14
@magicmatatjahu can you have a look? I really don't have much time to dig into code 😓 👶 🍼

[2021-05-18 17:11] magicmatatjahu commented on #14
@AceTheCreator I answered in the PR :)

I know @fmvilas that you are very busy, but please, in the free time, check my comment, because (probably) we cannot use plugins on the client side. More info is in comment. Maybe you had this case in mind when you wrote issue's description, so let us know 😅

[2021-09-14 22:14] BOLT04 commented on #10
Hi everyone 👋, I'd like to contribute to this issue, but I'm not familiar with the project. I'm trying to see the scope of this issue and some solutions, below is my understanding right now.

All occurrences of the string `@asyncapi/html-template` should be deleted, which seems trivial except for the file `filestudio/src/routes/html.js`. Maybe this route should be deleted since it's used in the vi

[2021-09-15 04:19] fmvilas commented on #10
Pinging @magicmatatjahu

[2021-09-15 11:56] magicmatatjahu commented on #10
@BOLT04 Hi! Thanks for wanting to help, we appreciate it! You are thinking well with this html and markdown, but.... I am just in the process of refactoring (or rather re-writing) the studio from scratch. It was a mistake for me not to ask the community what they thought about it at all.... I am very sorry! I am just about to create an issue to discuss the removal of NextJS (and why, because it's

[2021-09-15 13:43] magicmatatjahu opened #80 "Proposal to remove NextJS"
The current studio is written using the [NextJS framework](https://nextjs.org/). The application consists of several parts (because it's not the plain NextJS app):

- server which is running by ExpressJS. Its role is to communicate with the database, save AsyncAPI documents, generate HTML Template as well as Markdown Template etc.
- "Static" UI - the part that communicates with the server and is t

[2021-09-15 13:43] magicmatatjahu commented on #10
@BOLT04 Issue -> https://github.com/asyncapi/studio/issues/80

[2021-09-15 20:19] BOLT04 commented on #10
thanks for the response @magicmatatjahu 🙂, I'll definitely take a look at that issue 👍
Just to clarify, with the refactoring would this issue be resolved, or are we still going to use HTML template to simplify the refactoring process?

[2021-09-15 20:40] BOLT04 commented on #80
@magicmatatjahu Seems like a good move 👍. I was wondering about the plugins topic, you mentioned currently it's only allowed plugins server-side. Is this new rewrite going to support plugins client-side? I had a look at Swagger's editor and they seem to have some hooks that other people can use to extend the editor. Is this something we'd want in the design of the new studio?

Also, from what I sa

[2021-09-16 07:12] derberg commented on #80
tl;dr I'm all with you to get rid of SSR
<img src="https://i.imgflip.com/5n5gdw.jpg" width="100" height="110">

yeah, cause if we do it we basically create a user base and from that point, it is just one step away from running a business, and this is not our plan for the studio. We want to host studio as we do with playground, as AsyncAPI Initiative is part of Linux Foundation, and having a user b

[2021-09-16 08:57] fmvilas commented on #80
@derberg You now gave the idea of having a Studio REST API. A public API you can use to convert files, download code and docs, etc. 🤔

[2021-09-16 09:26] jonaslagoni commented on #80
I LIKE THAT! 🤯

[2021-09-16 10:29] fmvilas commented on #80
@jonaslagoni Absolutely! We can include Modelina too. Lots of possibilities.

[2021-09-16 10:35] derberg commented on #80
rather `asyncapi start studio` to have verb first + long term we can start more things, like chatbot

Studio + API for stuff that need server and are kinda extra features. We could definitely extend it with more endpoints if through monitoring we actually see people using API directly, cause if not, then let's just keep it for the generator for better architecture, and stuff like conversion or opt

[2021-09-17 19:33] magicmatatjahu commented on #80
@BOLT04 Hi! There is a mentioned proposal https://github.com/asyncapi/asyncapi-react/issues/433 :)

[2021-09-22 13:53] magicmatatjahu commented on #80
What we agreed on:
- NextJS will be removed - we will replace the studio with a regular SPA app with React on board
- We should create an API that would be hosted as a separate free "service" by us, which would then be used by Studio. The API itself should provide what we currently have in https://playground.asyncapi.io, so it should be able to generate templates with the possibility to download t

[2021-09-22 13:53] #80 closed

[2021-09-22 14:12] magicmatatjahu opened #86 "Create (server) API for Studio"
In https://github.com/asyncapi/studio/issues/80 proposal was proposed to create a (server) API that would later be used by the Studio for things that cannot be done in the browser. Most of our tools are isomorphic, but e.g. generator still need to run a NodeJS environment. Issue is opened to discuss how this API should look like, what it should offer, in which technology/framework it should be wri

[2021-09-22 15:07] AceTheCreator commented on #80
@magicmatatjahu @derberg How do you think the chatbot will benefit from this proposed API perspective?

[2021-09-22 15:31] magicmatatjahu commented on #80
@AceTheCreator It depends. From what he remembers, the chatbot needs a token for this AI service (I don't remember name, sorry). If there is a library that can communicate in the browser, then the chatbot could be implemented just for the browser. As for the server API, you could use a websocket that reads the answers and asks the next question based on it :)

[2021-09-22 15:47] magicmatatjahu commented on #3
As we are going in the direction of a simple SPA and we are not going to have a projects/organizations/users database (for now), I am closing this issue, because it is related to the old Studio implementation.

[2021-09-22 15:47] #3 closed

[2021-09-22 15:47] magicmatatjahu commented on #4
As we are going in the direction of a simple SPA and we are not going to have a projects/organizations/users database (for now), I am closing this issue, because it is related to the old Studio implementation.

[2021-09-22 15:47] #4 closed

[2021-09-22 15:47] magicmatatjahu commented on #5
As we are going in the direction of a simple SPA and we are not going to have a projects/organizations/users database (for now), I am closing this issue, because it is related to the old Studio implementation.

[2021-09-22 15:47] #5 closed

[2021-09-22 15:49] #9 closed

[2021-09-22 15:50] magicmatatjahu commented on #12
As we are going in the direction of a simple SPA and we are not going to have a projects/organizations/users database (for now), I am closing this issue, because it is related to the old Studio implementation.

[2021-09-22 15:50] #12 closed

[2021-09-22 15:52] magicmatatjahu commented on #30
I mark this as a long-term issue.

[2021-09-22 16:11] magicmatatjahu commented on #8
Since we're going with a different implementation of Studio (as a SPA app, rather than using NextJS) I'm closing this issue. In addition, the implementation of the current plugins works only on NodeJS and not in the browser (https://github.com/asyncapi/studio/pull/37#issuecomment-843366186), so we have to redefine them - probably have two types, for the frontend (https://github.com/asyncapi/asynca

[2021-09-22 16:11] #8 closed

[2021-09-22 16:14] smoya commented on #86
Do we have a list of those actions the server should perform, e.g. generation of templates?
In terms of infrastructure estimation costs, what is the estimated traffic for that API? Would it be similar to current playground?

[2021-09-22 16:14] magicmatatjahu commented on #14
Since we're going with a different implementation of Studio (as a SPA app, rather than using NextJS) I'm closing this issue. In addition, the implementation of the current plugins works only on NodeJS and not in the browser (#37 (comment)), so we have to redefine them - probably have two types, for the frontend (asyncapi/asyncapi-react#433) and backend (#86).

[2021-09-22 16:14] #14 closed

[2021-09-22 16:29] magicmatatjahu commented on #86
@smoya

At the moment in plans is implement things from playground, so generating and downloaded result of templates. In future we can implement (as @jonaslagoni suggest) the model generation, optimizations etc, but a lot of things we can perform in browser, because our libraries are isomorphic, so the most important thing is the generation of templates. The list is open and we can add to it whate

[2021-09-22 16:35] magicmatatjahu commented on #1
Due to the fact that we are implementing Studio from "scratch", I am closing this issue.

[2021-09-22 16:36] magicmatatjahu commented on #2
I don't know if this issue is still valid and if it will be needed in the new implementation - can you clarify @fmvilas?

[2021-09-22 17:00] #1 closed

[2021-09-22 18:40] BOLT04 commented on #86
Hi @magicmatatjahu 🙂, in regards to the technology/framework I think Node.js & Express.js w/ TypeScript is fine. I think it would be cool to have a version of the API deployed in DigitalOcean, for example, but have it rate-limited like you mentioned, to reduce costs.

For the API design I think for now we would have endpoints that is the equivalent of the **markdown route**:
https://github.com/asy

[2021-09-22 20:02] fmvilas commented on #2
I don't think so as we don't have a database or backend. You can safely close it.

[2021-09-23 05:48] smoya commented on #86
Perhaps not to go in very detail on this, as I think it's not the most important part about this issue:

I would say the only (strong) reason for adding a rate limiter are attacks. So I would say, with lower priority, we could add nginx in front of all our HTTP services (meaning current playground, hub, etc), which can implement a simple leaky bucket algorithm based on headers and/or IP. This coul

[2021-09-23 06:35] #2 closed

[2021-09-23 07:41] derberg commented on #86
Definitely let us not overcomplicate. We do not create a commercial API, but free service that can be improved basing on how we learn it is used. Rate limiting can be added once we see someone abuses the API, and doesn't make much sense to focus on all these tiny details IMHO (better first connect google analytics to playground to see how ofter people actually click download button - but again if

[2021-09-23 07:43] derberg commented on #80
for the chatbot, there is no change really, as chatbot needs its own server with its own API (it already has server anyway), and communication needs to be dynamic between UI and the API. Next.js or not, no change for you.

[2021-09-23 08:48] magicmatatjahu commented on #86
Fran once suggested to go with the GraphQL - it would make sense in case we expand the API, but if we end up with just a generator then I think simple REST is enough.

[2021-09-23 08:53] magicmatatjahu commented on #86
@BOLT04

Exactly, I also thought about that in this way, that you will have possibility to generate not only markdown/html but also another our templates. Most likely we won't go for custom template generation due to security issues.

We will use optimizer in the client-side, but maybe we will also create endpoint for that in API. Currently only the generator cannot be used on the client side and

[2021-09-23 09:14] derberg commented on #86
even if we expand to more, like optimizations, diff, etc. I honestly do not see a benefit of using GraphQL. This is going to be an API that you use for one thing at a time IMHO. REST should be grant

[2021-09-24 16:49] fmvilas commented on #86
I suggested GraphQL when it was only a server for the frontend but since it's going to be an open API that anyone would use, I'd go for a REST API instead. Usually, I go for GraphQL when I control the API and the client(s). If we let anyone call our API, we don't control the clients anymore and therefore I think it would be better to bring a REST API.

[2021-10-05 11:39] magicmatatjahu opened #104 "Connect Netlify to repository"
Description

@jonaslagoni [suggested](https://github.com/asyncapi/studio/pull/100#pullrequestreview-771293871) to have PR's preview like we have in `website` repo. As far as I remember, we can have several repos linked to the our Netlify Open Source free plan, so we should enable preview in this repo.

Reasons

To Improve DX in PR's review.

cc @derberg @jonaslagoni

[2021-10-05 16:02] jonaslagoni opened #107 "Initiate all-contributors"
As we have in all other repos, we should initiate all-contributors.

[2021-10-06 10:16] magicmatatjahu opened #109 "Integrate linter (eslint) in repository"
We have integrated linter (eslint) in other repositories in our organization. We should do this also in this repo, for increase DX.

[2021-10-06 14:56] magicmatatjahu commented on #109
Resolved by #112

[2021-10-06 14:56] #109 closed

[2021-10-07 11:38] smoya commented on #86
Isn't `asyncapi-minion` is the name you were looking for? hahaha

[2021-10-20 08:18] boyney123 opened #125 "Adding Visualiser into the Studio"
#### Reason/Context

Hey!

I have been working on a visualiser tool that uses [React Flow](https://reactflow.dev/) to render an AsyncAPI file.

Here is a screenshot of the kind of thing working so far.

![image](https://user-images.githubusercontent.com/3268013/138054481-c002476d-9975-4e11-b997-c30a553a564b.png)

I would like to add this into the Studio, and maybe in some different phases.

Maybe

[2021-10-21 12:53] smoya opened #127 "Share feature proposal"
#### Reason/Context
The idea of this proposal is to add a "Share" button (or any component that fits) allowing the user to generate a URL that can be shared with anyone, and that will open the Studio but with the desired spec file loaded, representing that file in a certain moment in time, and loading any Studio setting the person who shared configured by then as well.

Sharing a URL that points t

[2021-10-21 13:24] aayushmau5 commented on #127
Love this idea a lot. It would be interesting to see how we tackle these problems.

Shall we use https://github.com/asyncapi/server-api as server for making the sharing logic? Or rather a separate microservice that just owns such responsibility?

I have a feeling that we can go serverless for this approach(like cloudflare workers and cloudflare KV as a storage). Though we have to see the costing a

[2021-10-21 13:42] boyney123 commented on #127
Yeah second what @aayushmau5 says, I like this idea @smoya. Sharing your state (doc) with others and other tools becomes very interesting.

Yeah guess loads of ideas we could go, but if you wanted you could go with a simple AWS Serverless solution that uses API Gateway + DyanmoDB (or s3) for example to store the data (even put a TTL on the data in the table so it expires/deletes after X days). Als

[2021-10-21 18:42] fmvilas commented on #86
I'd consider using https://github.com/anttiviljami/openapi-backend as the tech stack.

[2021-10-22 11:56] boyney123 opened #129 "Some (awesome) docs for the new Studio"
#### Reason/Context

@magicmatatjahu has been working hard on getting our new studio up and running, and it's looks amazing.

With the ideas we have coming to this application will grow with features and functionality.

I think we might want to accompany this application with some nice docs 👀

I just come across this website https://developers.apideck.com/ and something like this would be great fo

[2021-10-25 13:41] boyney123 opened #131 "(Optional) Integration with the Event Gateway"
#### Reason/Context

We still have the [Event Gateway](https://github.com/asyncapi/event-gateway) in development, and I was speaking to @smoya a couple of weeks ago, and I believe the gateway will/does provide a websocket url.

I believe the Gateway acts like a middle man between events and brokers (at the moment only supports Kafka). The WebSocket is used to pass any key information to anybody th

[2021-10-27 11:53] #131 closed, assigned to nobody

[2021-10-27 14:00] jonaslagoni opened #137 "Automatic save"
#### Reason/Context
I would have assumed that any changes to documents would automatically be saved as there are no other indications, that you have to manually perform this action using a shortcut `cmd + s`.

[2021-10-27 14:12] jonaslagoni opened #138 "Information not introduction"
#### Reason/Context

The introduction headline does not really make sense, as what it refers to is the `information` 😄

![billede](https://user-images.githubusercontent.com/13396189/139082858-cca3d36f-1465-4ae5-abad-30e17418bfd7.png)

[2021-10-28 11:26] boyney123 opened #143 "Load the latest version as default for new users (not tell them to upgrade)"
#### Reason/Context

When going to https://studio.asyncapi.com/ the first thing that comes up for me (as new user) is I can upgrade my AsyncAPI file.

I think our default AsyncAPI file should be the latest one (2.2.0 version), so users don't see this straight away.

Screen of what I see

![image](https://user-images.githubusercontent.com/3268013/139246884-c1b36774-5ef3-4ddf-96a4-3744440672cb.png)

[2021-10-28 11:33] smoya opened #144 "Render markdown on the Events Visualizer"
#### Reason/Context
AsyncAPI [html-template](https://github.com/asyncapi/html-template) renders Markdown on fields such as `info.description`. However, the current version of the Event Visualizer doesn't render Markdown.

Example:

Using the [Streetlights MQTT](https://raw.githubusercontent.com/asyncapi/spec/master/examples/streetlights-mqtt.yml) example, which contains valid Markdown in `info.des

[2021-10-28 12:04] smoya opened #146 "Cannot load http://json-schema.org/draft-07/schema"
#### Describe the bug
Current version of the Studio can't load http://json-schema.org/draft-07/schema when deployed in production.
This causes a warning on the editor such as:
![Warning](https://user-images.githubusercontent.com/1083296/139251019-742bcc6b-4864-4c89-8eef-9e85fe69d90b.png)

#### How to Reproduce
Go to https://studio.asyncapi.com and load any AsyncAPI File.

#### Expected behavior
Wa

[2021-10-28 13:49] #143 closed, assigned to nobody

[2021-10-28 13:50] boyney123 opened #147 "For new users give them the ability to select a template file (or real world example)"
#### Reason/Context

The studio is now [hosted](studio.asyncapi.com) on the internet which is great!

People will be coming to this from all over, and I wonder if it would be a nice feature for them to select a template or real-world example before they go into the studio.

I made a video to explain what I mean and also how it would kinda work (https://asyncapi.slack.com/files/U020GN9C6FM/F02KDGTE

[2021-10-29 14:15] mcturco opened #149 "Create og:image meta image design"
http://studio.asyncapi.com/

**Examples:**
![](https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmaster--asyncapi-website.netlify.app%2Fimg%2Fsocial%2Fcard.png)

![](https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmaster--asyncapi-website.netlify.app%2Fimg%2Fsocial%2Fgenerator.png)

[2021-10-29 19:05] mcturco commented on #149
@boyney123 See attached for the requested Open Graph image for AsyncAPI studio! Let me know if this works or if I should make any adjustments. Thanks!

<img width="1826" alt="AsyncAPIStudio_OGImage" src="https://user-images.githubusercontent.com/60163079/139488681-ab846435-e8cd-4acb-9364-e5f8ef354e71.png">

[2021-11-01 10:02] boyney123 commented on #149
Thanks @mcturco LGTM!

Will raise an issue on Studio to get this open graph in

[2021-11-01 16:24] smoya opened #155 "Allow patching content instead of full replacement on UpdateState"
#### Reason/Context
Comes from https://github.com/asyncapi/studio/pull/141#discussion_r740243505

`UpdateState` is used everytime an update should happen on a file.
Right now, `UpdateState` contains a full version of the updated file.
As far as the update is done locally, lag should not be a problem. However, https://github.com/asyncapi/cli/issues/104 (and maybe future features?) introduce the pos

[2021-11-01 16:32] #146 closed

[2021-11-01 16:49] fmvilas opened #157 "Add tests for socket-client service"
The `socket-client.service.tsx` file does not have tests. We should add them. The file in question is here: https://github.com/asyncapi/studio/blob/master/src/services/socket-client.service.tsx.

[2021-11-02 09:06] boyney123 commented on #147
I'm using [react-app-rewired](https://www.npmjs.com/package/react-app-rewired) which allows you to keep everything as is and extend the configs etc, only other option is to eject as you said.... create-react-app is quite locked down like that

Yeah hard to tell really, only reason for the new page is to keep some kind of flow for example:

1. Pick your protocol / example to see
2. Load the editor

[2021-11-02 14:35] magicmatatjahu opened #167 "Tabs and split panels like in VSC"
At the moment we have only two main panels + navigation: navigation on the left, and the panel with the editor (middle) and the panel for displaying the documentation (and visualiser) on the right. This is enough for now because we don't have the ability to [add plugins (aka modules)](https://github.com/asyncapi/asyncapi-react/issues/433) to our studio. However the current solution will not be eas

[2021-11-03 09:42] boyney123 commented on #167
So to verify you are talking about the ability to click on the navigation items, which will launch new tabs. So if I click on the editor multiple times I could have multiple editors going on at once, with different AsyncAPI files?

Sounds interesting, I'm trying to vision what features this will allow us to implement? I imagine it would complicate the codebase a fair bit with dynamic panels and ta

[2021-11-03 10:33] magicmatatjahu commented on #167
Yes :) I have idea to support also filesystem (with cli connection) to show files in the given folder and people will be able to have multiple tabs with multiple files like in normal VSC.

I don't think so that it will introduce more complexity to our codebase, because we should go with that with some state shape to know what exactly we show and where - how many panels with which panels. I will ma

[2021-11-04 13:53] #149 closed

[2021-11-05 10:58] magicmatatjahu commented on #149
@mcturco Hello! Do you want to add this image to the studio, like on the conference website, or do you want someone from us to do it?

[2021-11-05 14:20] mcturco commented on #149
@magicmatatjahu I don't mind adding it! I can do that now and then submit a PR 😄

[2021-11-05 14:30] magicmatatjahu commented on #149
@mcturco Sure, there is a main index.html - https://github.com/asyncapi/studio/blob/master/public/index.html :) If you will have any problems, please write about them.

[2021-11-05 18:14] fkromer opened #171 "AsyncAPI freezes on Firefox"
#### Describe the bug

The [hosted AsyncAPI studio website](https://studio.asyncapi.com) freezes regularly when editing AsyncAPI .yaml files. If the website recovers from freeze the default yaml file is loaded. The current WA is to store the edited file into a local yaml file every few seconds. Of course this is quite annoying. Actually this makes it impossible to use the website ATM.

#### How to

[2021-11-06 07:36] fkromer opened #172 "Provide cross platform app"
#### Reason/Context

Many backend devs are not using Node.Js and are forced to install Node.js to beeing able to use the app locally.

#### Description

Would be great if one could simply use a Tauri or Electron based app.

[2021-11-06 08:07] derberg commented on #172
@fkromer wouldn't it be easier just to provide a docker image for it?

[2021-11-06 08:28] fkromer commented on #172
@derberg Right, a docker image on DockerHub would address this issue as well.

[2021-11-08 15:11] magicmatatjahu commented on #171
@fkromer Hi, thanks for the issue! What do you mean by:

What is `WA` abbreviation? And what do you mean by local yaml file? Do you use the CLI integration with Studio https://github.com/asyncapi/cli/pull/102? Of course it is no argument but for me only when I paste this specification https://raw.githubusercontent.com/asyncapi/modelina/master/test/blackbox/docs/AsyncAPI-2_0/zbos_mqtt-all-asyncapi.

[2021-11-08 15:16] magicmatatjahu commented on #172
This issue is connected to the https://github.com/asyncapi/studio/issues/30 Maybe in the future we will think about electron app, but not at the moment, we are focusing on delivery plugins, spec builder (by forms), better visualiser, better linter etc.

[2021-11-09 17:10] #144 closed, assigned to nobody

[2021-11-09 19:51] tobi6112 commented on #171
I think by `WA` is workaround ment.

However, I can confirm the issue in MS Edge 95.0.1020.44 on Windows 11. It seems to be some kind of Memleak. I'm trying to reproduce it in detail and give you more information when I have the spare time to do so.

But as of now I can say, that in my case I was editing nested component schemas, when the UI slowly went into freezing until the browser tab itself w

[2021-11-10 15:47] magicmatatjahu commented on #171
Ok, I checked and it's true that the longer you use the Studio, the faster the stackoverflow for a single browser tab occurs. I created PR for fixing problem on the parserJS side https://github.com/asyncapi/parser-js/pull/406 but there is still places to improve. We cannot "decrease" size of rendered content, but we can change the rendering from automatic to manual, that is, when the user presses

[2021-11-10 16:02] tobi6112 commented on #171
@magicmatatjahu That's great to hear. Wouldn't it be sufficient to introduce a debounce time? For example to render the page if within 2 seconds no change in the spec occurred.

Personally I don't think that a manual rendering is not the way to go and not a proper solution for this problem. But in return a user-option for enabling manual rendering might be a nice feature.

[2021-11-10 16:08] magicmatatjahu commented on #171
We have debounce, at the moment 250ms, I can increase that to 1s but there is still problem with huge spec for old devices. I have very good computer so for me rendering even 10x per row isn't problem, but for someone it can be. Thanks for response!

[2021-11-11 12:58] boyney123 commented on #167
Thanks @magicmatatjahu .

Yeah I think that sounds good to me, I made changes over on #147 , if you wanted to take a look, let me know what you think? I think I understand what you meant, when pressing the new icon it will take over the main content section.

[2021-11-19 13:25] magicmatatjahu commented on #138
Resolved by https://github.com/asyncapi/studio/pull/178

[2021-11-19 13:25] #138 closed

[2021-11-19 16:25] fkromer commented on #171
@magicmatatjahu The editing of my spec file in studio works fine on firefox right now.

[2021-11-19 16:25] #171 closed

[2021-11-21 19:52] boyney123 opened #182 "When clicking on items in the side bar (messages, operations, schema etc) be nice to highlight the nodes in the flow diagram"
#### Reason/Context

At the moment when you have the sidebar and the documentation open, clicking on a message, operation etc will take you straight to the place in the docs.

I think it would be a nice touch to have the nodes in the flow diagram highlight (maybe blink animate) when clicking on these nav items.

So if the user has  this nav bar open....
![image](https://user-images.githubuserconte

[2021-11-30 16:29] mcturco opened #193 "Add tooltips to navigation and icons to new examples screen"
#### Reason/Context
I am wondering if the icons on the navigation properly explain what the window is that corresponds to it. I suppose users who are frequent on the studio might know from learning the system, but in order to make it easier for new users to quickly understand the system, I am proposing that we add tooltips on hover of each navigation item so there are proper labels for each window

[2021-11-30 16:35] magicmatatjahu commented on #193
@mcturco Thanks for ideas, I like them! Regarding to the color of the active nav items, we can change left white border to the pink (this color of `studio` title) and also make more contrast, I'm thinking of brightening up the background of nav item. I will wait anyway for your mocks :)

[2021-12-01 17:02] jonaslagoni opened #195 "Support multiple applications"
#### Reason/Context
At the moment Studio only supports one application, but often you design multiple applications that are interacting with each other. So introducing something like a "project" could be really useful.

#### Description
We can still do local savings to the browser, it just enables us to integrate something like Cupid and other tools 🙂

[2021-12-02 11:34] smoya opened #198 "Templates section button does not trigger events for closing or opening previous tabs"
#### Describe the bug
Unlike the events visualizer button, clicking on the new templates button opens a new view that covers the whole studio (except the nav bar). When clicking then on any other button like the code one ![CleanShot 2021-12-02 at 12 31 41](https://user-images.githubusercontent.com/1083296/144414192-dcd35aa1-cfdb-49d3-9a52-bf363ced31e4.png), doesn't quit the examples view.

The onl

[2021-12-02 11:48] smoya opened #199 "Accessibility: Make buttons on left nav bar accessible to screen readers"
#### Reason/Context
![Studio left nav bar](https://user-images.githubusercontent.com/1083296/144414684-4c1035b9-9c1f-4988-b50e-1b4ba3ade531.png)

Current nav bar buttons don't provide any alternative text. This makes it hard to know what button does what.
The issue goes further because it means screen readers won't do their job, meaning Studio can't be used on all its potential by people with visu

[2021-12-03 08:42] ThanksForAllTheFish opened #200 "Enable validation of an example payload"
It would be cool to enable Studio to validate an example payload against the message schema.

This would enable quick prototyping and move into a direction of one tool to rule them all, as currently it is possible to use third party validator like https://www.jsonschemavalidator.net

[2021-12-03 09:06] magicmatatjahu commented on #198
The question is which would be better? From a UX standpoint, I think modal, @mcturco @boyney123 any thoughts? 🤔

[2021-12-03 09:26] magicmatatjahu commented on #200
Thanks for the feature proposal! :)

Don't worry, it will be needed. Most likely we will do it as a separate panel where you can select a message/channel/scheme and validate the necessary inputs anyway.

[2021-12-03 15:47] mcturco commented on #198
@magicmatatjahu Agreed! I think a modal for the new templates will work just fine. So then the modal should close if you click a different nav item on the left side, as @smoya pointed out, good catch!

[2021-12-03 15:56] magicmatatjahu commented on #198
Nope, no close by clicking on the nav item. It will be similar to normal modal like:

![image](https://user-images.githubusercontent.com/20404945/144632587-b736b3aa-2745-49dc-b44d-e2666b060acd.png)

But content will be templates :) And then you cannot click on the nav - you can try.

[2021-12-03 16:07] mcturco commented on #198
@magicmatatjahu Oh! Gotcha. Yes that works too!

[2021-12-06 08:32] boyney123 commented on #198
Yeah modal sounds good to me! Nice catch @smoya

[2021-12-06 08:32] boyney123 commented on #198
I can try and pick this up 👍

[2021-12-06 09:18] boyney123 commented on #199
Nice one @smoya

Also I think it would be nice to add tooltips for the icons, most vertical nav / code-based systems I have used in the past have these. Think it's a small change that can help people understand what the icons do.

Codesandbox example 👇

![image](https://user-images.githubusercontent.com/3268013/144819971-53812ed0-2360-409e-a6c5-c9f3628fa40e.png)

[2021-12-06 09:20] boyney123 commented on #195
Nice idea @jonaslagoni, I agree would be nice if we could support multiple files.

I think this might be related to this #167

[2021-12-06 09:24] boyney123 commented on #200
Thanks for the idea @ThanksForAllTheFish , think this is a great idea ➕

[2021-12-06 09:25] boyney123 commented on #193
`I am proposing that we add tooltips on hover of each navigation item so there are proper labels for each window pane.`

💯 , think maybe we can also add #199 here too?

[2021-12-06 09:26] boyney123 commented on #199
Ah looks like @mcturco has already opened up and issue for it :) #193

[2021-12-06 10:34] boyney123 commented on #198
Think it's fixed in #201

[2021-12-06 14:42] mcturco commented on #199
@boyney123 yes!! Your suggestion here was exactly what I was thinking for #193 :)))

[2021-12-08 12:20] smoya opened #207 "Allow manually setting a JSON Schema URL"
#### Reason/Context
Current Studio picks up a JSON Schema from https://github.com/asyncapi/spec-json-schemas based on the `asyncapi` field.
This is valid for most of the users but I wonder if we could allow users to manually enter a URL of a valid JSON Schema (AsyncAPI one) so it can be used for validating.

The reason is that I find it useful for testing changes on the spec that are not yet fully

[2021-12-08 13:05] magicmatatjahu commented on #207
Do you wanna validate on different schema by parserJS? Currently parserJS has hardcoded versions of specs and you cannot pass new schema as input to the parser.

[2021-12-08 15:08] smoya commented on #207
I know you load schemas at boot time, but I guess you can also add more schemas to the registry during runtime.

[2021-12-08 15:21] magicmatatjahu commented on #207
🤔  We can add new schema to the global object from `@asyncapi/specs`. I will think about it.

[2021-12-08 17:45] fmvilas opened #209 "Beta label is almost invisible"
#### Describe the bug
The "beta" label near the logo became black and it's almost invisible.

#### How to Reproduce
Have a look at https://studio.asyncapi.com

![Captura de pantalla 2021-12-08 a las 18 42 53](https://user-images.githubusercontent.com/242119/145257373-26591c3e-cd53-4eef-841d-f937d3039eec.png)

#### Expected behavior
I was expecting it to be visible. I think it used to be cyan or wh

[2021-12-08 17:55] magicmatatjahu commented on #209
Right! Most likely some patch bump changed the styles, because it was always green :thinking:

[2021-12-13 16:05] mcturco commented on #209
@fmvilas @magicmatatjahu it looks like the `text-teal-500` class doesn't exist anymore in the `default.min.css` file (Is that file sourced from the react component?) Comparing the version on @magicmatatjahu's PR with the live version, it looks like a class was added in front of each class, `.aui-root` which I think is causing some of the styles to fail.

![Screen Shot 2021-12-13 at 11 00 05 AM](ht

[2021-12-15 09:15] boyney123 opened #213 "What is next for the visualiser? Need your help!"
![image](https://user-images.githubusercontent.com/3268013/146157471-83c9d3ba-f464-444f-b96e-ecc1a993de8d.png)

A couple of months ago we released the visualiser into the Studio, and from initial feedback, it seems that the community quite like it and find it valuable.

**It would be good to understand what else we can do here to make it better?**

**If you have any ideas or thoughts please share

[2021-12-15 14:11] jonaslagoni commented on #213
I am just shooting ideas out, no filtration 😆

- I would love to see it support the visualization of multiple applications, i.e. you can see how applications interact with each other. Related to #195. No idea how to separate such logic and what belongs where, if we compare it to Cupid 🤔
- Maybe the ability to inspect message payload structures and validation rules 🤔
- When the side menu is clicked

[2021-12-16 10:01] #137 closed

[2021-12-16 10:03] boyney123 commented on #137
/help

[2021-12-16 10:07] boyney123 commented on #213
Thank you @jonaslagoni

Yeah great idea, at the moment I just added the messages as blocks onto the pub/sub boxes, but yeah the abilty to open them and inspect would be great. Thanks

💯

Nice. Do you mean the studio will know how to connect to the applications, and actually start sending real messages/logs etc?

Yeah I like that, I guess it will be easier when we can support multi applications.

Y

[2021-12-16 10:26] magicmatatjahu commented on #213
@jonaslagoni I like your suggestions, but about multiple application we should have first some logic to handle multiple specs in the Studio like this one idea https://github.com/asyncapi/studio/issues/167 and then use that feature inside Visualiser :)

[2021-12-16 10:59] jonaslagoni commented on #213
Yes!

With the AsyncAPI document, you should have all the information needed (in most cases at least, custom serialization and deserialization functionalities would be hard to support) to send single messages from the browser 🤔

[2021-12-16 11:05] magicmatatjahu commented on #213
But also that should be as separate tool, not inside Visualiser, because someone should test app from raw AsyncAPI, not from Visualiser context :)

[2021-12-16 16:10] #209 closed

[2021-12-16 16:14] mcturco commented on #209
Awesome! Thanks for the breakdown @magicmatatjahu and glad the issue is resolved! 😄

[2021-12-20 13:31] smoya opened #218 "Nice to have: "Open with Studio" button for Markdown files."
#### Reason/Context
I'm lately advocating for using Studio whenever I want to add a link to an AsyncAPI file in a Markdown file such as Readmes. Thanks to the `?url=<url-of-file>` query param, Studio can load most of files (yes, not all of them, see https://github.com/asyncapi/studio/issues/127).

I think it would be awesome to create a new design for a button that says "Open with Studio", with th

[2021-12-20 22:29] alequetzalli commented on #218
I haven't really worried (yet 😈 )  about stuff outside of AsyncAPI's docs and community building, so I haven't been majorly affected by the absence of this.

That said, I can say that I imagine that if I started developing more with our spec, that I would appreciate having **the option** to open an AsyncAPI file in Studio if it empowers me in visualizing events better.

I think that is a long way

[2021-12-21 17:51] mcturco commented on #218
@smoya I think this is a great idea! I can definitely work on an image for the button that we can use in markdown files.

@fmvilas do you mean we would make an iframe to run the Studio on someone's website?

[2021-12-28 17:29] paulRbr opened #221 "“Nil” binding object crashes the editor"
#### Describe the bug

“Funny” enough we were caught by the same bug in our project @bump-sh, and wanted to test it in the AsyncAPI studio to discover the bug is also present here. When providing a `null` object as value of a server binding object (or channel binding object), the editor crashes.

#### How to Reproduce

Add bindings to a **valid** server object, add an entry with `sqs: ` (for insta

[2022-01-03 10:18] magicmatatjahu commented on #218
I think people can do that on their own, unless we have configured restrictions on the domain side, but I don't think so :) However, we can prepare a dock and a `postmessages` system so that users can react to changes in the studio. What do you think?

[2022-01-03 13:26] magicmatatjahu commented on #221
@paulRbr Hi! Thanks for issue! I know where exactly is problem, we've got it covered in the tests, but this one case doesn't 😆

[2022-01-03 15:05] mcturco commented on #218
I think this would be a great feature to add! And maybe if it gets too complicated in the iframe we can send them to the studio website to explore more features

[2022-01-03 15:13] magicmatatjahu commented on #221
@paulRbr PR with fix is opened https://github.com/asyncapi/asyncapi-react/pull/502

[2022-01-03 18:14] fmvilas commented on #218
No, I meant the button itself is an iframe so when it renders on someone's website we can track it's been used, where, etc.

[2022-01-03 18:24] mcturco commented on #218
@fmvilas oh!! yes that's also a great idea and we should do that 👍

[2022-01-04 14:21] #221 closed

[2022-01-04 14:23] boyney123 commented on #218
Just come to say love the idea @smoya think it can be useful for sure!

[2022-01-04 17:40] magicmatatjahu commented on #221
@paulRbr Hi! Problem should be resolved. Please reopen if you will find another, related, bugs :)

[2022-01-09 12:04] smoya opened #224 "Nice to have: Open Graph link preview image according to the document to open"
#### Reason/Context
Thanks to the `?url=<url-of-file>` and `?base64=<base64-encoded-doc>` query param, Studio can load most of files (yes, not all of them, see https://github.com/asyncapi/studio/issues/127). I expect users will use that to share their AsyncAPI docs.

Whenever a link to Studio (with or without those query params) is pasted into social media (Twitter, Linkedin, Facebook, Slack...),

[2022-01-10 16:50] loteoo commented on #224
Hope I'm not butting in too much but in case you guys want a quick and easy solution for this (until you develop your own), you can use https://thumbsmith.com/

(Full disclaimer - I'm the founder 😬 )

Usually this is more for websites that can't easily deploy services like you guys tho (eg: wordpress sites)

[2022-01-10 17:04] magicmatatjahu commented on #224
@smoya Thanks for that awesome idea! I understand implementation of that but the main problem in current solution (how Studio works) is that we have full SPA application, so everything is loaded and resolved in the runtime in the JS, so even if we update `og:meta` in the head of the page the web crawlers (like in fb for `og:meta`) will have already read this metadata and will not wait for JS to lo

[2022-01-10 17:29] loteoo commented on #224
Hi @magicmatatjahu, my pleasure! Unfortunately as you mentioned the meta tags really needs to be in the initial HTML for the crawlers to pick it up. You will have to do SSR, or wait for something we had actually planned on our [roadmap](https://thumbsmith.com/project-roadmap) similar to this. (But you will have to share a custom URL, not the original URL)

[2022-01-10 18:25] smoya commented on #224
@magicmatatjahu as we are hosting the Studio in Netlify, we can make use of prerendering which will pretender pages when those are requested by crawlers. See https://docs.netlify.com/site-deploys/post-processing/prerendering/

[2022-01-10 19:35] magicmatatjahu commented on #224
@smoya https://www.youtube.com/watch?v=9CS7j5I6aOc Can I say that we are in home? 😄

[2022-01-10 19:39] magicmatatjahu commented on #224
@smoya So, do you wanna handle that feature and create such a lambda for Netlify? I don't know where we should keep the source code of this lambda, in the Studio or as a new repo in the organization?

[2022-01-11 08:58] magicmatatjahu commented on #224
@smoya then we have it in this repo :)

[2022-01-12 10:59] smoya commented on #224
@mcturco I would like to ask you if you could help me with the design part for this.

[2022-01-12 16:09] smoya commented on #224
Those images I attached are generated from HTML. What we need is to design those cards in HTML (CSS, TS, whatever). I guess we could ask @magicmatatjahu or any other user from the community to help with that part, but still the design is needed.
The minimum size would be 1200 x 630 (as recommended for high-res displays).

About the data we can display on it, I'm up to suggestions. I thought on:

-

[2022-01-12 19:35] mcturco commented on #224
@smoya sounds good! yeah just wanted to make sure that I can apply some of the new styles that we have been using as part of the brand refresh. Cool! I can get to work on that 😄

[2022-01-18 11:52] boyney123 commented on #218
@mcturco any ideas for a design for the button we could use?

[2022-01-18 12:02] boyney123 commented on #218
If we went the iframe solution anybody got any ideas on how this could work?

I'm guessing

- Iframe with a button inside and image
- Button goes to function/URL somewhere that can track things (maybe in Google Analytics)?
- URL then directs to the studio...

Kind of a middleman/gateway pattern.....

---

**OR**

Also, we could use `IMG-shields` here is an example 👇

**With logo** (we can add ours

[2022-01-19 09:08] fmvilas commented on #218
Sorry, on Markdown you can't actually embed iframe as far as I know. I meant to have an iframe version for HTML but the one for Markdown would have to be an image 👍

[2022-01-19 09:10] fmvilas commented on #218
I think the metrics I would be more interested in are:

* Which websites are using the button (feasible by inspecting the HTTP headers when the website is requesting the image)
* How many people are clicking on the buttons (hard to track in Markdown)

Anything else I'm missing? Maybe we should just give up tracking on Markdown? I don't know.

[2022-01-19 10:42] smoya commented on #218
What if we provide a "button generator" that can either generate HTML or rather Markdown code? We could control the final URL so the tracking might be possible. Of course people could still go in their own creating manually the button, but at least we cover it partially.

[2022-01-19 12:12] dweber019 opened #237 "N[String(...)] is not a function on studio.asyncapi.com"
#### Describe the bug
If I copy this snippet from https://github.com/asyncapi/avro-schema-parser
[code]
into https://studio.asyncapi.com/ I get error `N[String(...)] is not a function`.
If I download the studio locally and past the same snippet, it works.

#### How to Reproduce
see above

#### Expected behavior
No error

[2022-01-19 12:49] magicmatatjahu commented on #237
@dweber019 Thanks for issue!

I confirm, locally it works.... the worst type of error 😅  Probably build process causes some errors when mangling the code. I'll check locally after the build what's going on and let you know! I guess, error is throw by `parserJS` or by parse for `avro`.

[2022-01-19 13:10] dweber019 commented on #237
Thanks, was just a observation. I'm currently debugging why $ref: <some-url>.avsc doesn't work in backtage.io.
With this error https://discord.com/channels/687207715902193673/687235481154617364/933248339116429312 but still in debug mode ;)

[2022-01-19 13:27] magicmatatjahu commented on #237
Fix is on the way https://github.com/asyncapi/studio/pull/238 :)

@dweber019 Without you we would not have been aware of webpack removing support for `avro` and `openapi` - more info in the linked PR.

May I have a question? From what I can see, you are using Backstage, does AsyncAPI rendering there also throw some kind of error (Backstage uses our component to render AsyncAPI), or is it more of a

[2022-01-19 13:34] magicmatatjahu commented on #237
@dweber019 You can check preview for changes https://deploy-preview-238--modest-rosalind-098b67.netlify.app/ and your schema works! :)

[2022-01-19 14:08] dweber019 commented on #237
In backstage currently form what I can tell, the normal avro part works. It's has something to do with the $ref and not being able to download the file in $ref.

I'm currently now in this dependency https://github.com/APIDevTools/json-schema-ref-parser as I think, this component is doing the download.

[2022-01-19 14:25] magicmatatjahu commented on #237
Yes, we uses that dependency to make that magic with `$ref` :)

[2022-01-19 14:25] #237 closed

[2022-01-19 14:31] dweber019 commented on #237
okey will open up an issue at https://github.com/asyncapi/parser-js

[2022-01-19 14:51] magicmatatjahu commented on #237
Ok, https://studio.asyncapi.com is updated :)

[2022-01-19 18:35] dweber019 commented on #237
FYI @magicmatatjahu created issue at https://github.com/backstage/backstage/issues/9040 as it seams there is a polifill issue in backstage.

[2022-01-19 23:20] mcturco commented on #218
@boyney123 yes! I think it could be something very simple. I know we have everything drafted for the new branding right now and it is not actually launched yet, but do you think we should use old brand or new brand?

cc: @fmvilas

[2022-01-20 00:02] fmvilas commented on #218
Let's go with new brand IMHO. It shouldn't take us long to launch the new brand.

[2022-01-22 08:39] Samridhi-98 opened #242 "Tooltip to sidebar icons"
#### Reason/Context

#### Description
Please try answering a few of those questions
- What changes have to be introduced?
   - Add tooltip to sidebar icons and visualizer icons
- Will this be a breaking change?
   - No

**Screenshot**

![image](https://user-images.githubusercontent.com/54466041/150631257-4f080ba5-6e8b-4434-b8f6-ae45be88b12f.png)

[2022-01-22 14:13] sambhavsaxena commented on #242
I would like to  work with this enhancement

[2022-01-24 11:47] #30 closed

[2022-01-24 12:29] #242 closed

[2022-01-24 12:49] magicmatatjahu commented on #172
I will mark that issue as `long-term` enhancement, but atm we can use studio from docker image:

[code]

Thanks @fgreinacher! 👏🏼

[2022-01-26 11:21] fgreinacher opened #249 "Run AsyncAPI Studio at subpath"
#### Reason/Context

In some hosting scenarios (e.g. Docker Compose, Kubernetes) the container might not be exposed at the root path of the host.

AsyncAPI Studio does not handle this well at the moment:

![image](https://user-images.githubusercontent.com/1540469/151154373-9aa24ff2-d201-4c84-b690-499eedeb9913.png)

I think it would be great to support this so that people can easily host the Studio

[2022-01-27 12:20] #249 closed

[2022-01-31 11:23] DJGummikuh opened #252 "studio.asyncapi.com only supports version 2.2.0"
#### Describe the bug
I am trying to edit an older async api yaml file that is based on Version 2.0.0 of the specification
this is failing because the editor only allows 2.2.0 to be used.

#### How to Reproduce
Open any file that is not based on the 2.2.0 specification
![image](https://user-images.githubusercontent.com/5188486/151785309-30db2c12-2307-4612-b454-df64b5ad153d.png)

#### Expected beha

[2022-01-31 11:33] magicmatatjahu commented on #252
@DJGummikuh Hello! We have bug with that info about unsupported `2.0.0` version but it's still supported, trust me :)

As I see in the "file preview" on the right side of the editor you have errors in your spec (check that red section at the bottom of your spec). You should click on the terminal section (at the bottom of the editor) to see errors and fix them:

![image](https://user-images.githubu

[2022-01-31 11:35] derberg commented on #252
We should definitely not underline `2.0.0` with yellow saying `Value is not accepted` as it is misleading. It already prevented me from digging further for what are the other reasons to not render my document, cause if the version is not supported, why bother

[2022-01-31 11:48] fmvilas commented on #252
Also, leaving this comment from @DJGummikuh for the record: https://twitter.com/DJGummikuh/status/1488110968508928000. Looks like two different bugs? 🤔

[2022-01-31 11:53] magicmatatjahu commented on #252
@fmvilas If you have broken 2.0.0 spec you cannot make conversion. Converting 2.0.0 -> 2.2.0 is just a version change but still, it is not good to make conversion invalid spec and even if we will make it `2.2.0` will be still invalid.

[2022-01-31 12:00] DJGummikuh commented on #252
My issue is that the entire Document is simply red
I have no clue what exactly causes it and the marker at the bottom is also kinda unspecific :D
![image](https://user-images.githubusercontent.com/5188486/151790345-230026bb-a145-4d42-9a0d-8f9b50f9c4c5.png)

[2022-01-31 12:03] magicmatatjahu commented on #252
Why does this error (about unsupported 2.0.0) occur? A single instance of the Editor (Monaco editor) can accept a single JSON Scheme for validation. We can say that we have two validations (on the side of the editor itself to show the description of each fields, autocomplete etc) and on the side of our ParserJS. The problem is that the user can change the spec version in the editor at any time and

[2022-01-31 12:13] DJGummikuh commented on #252
nah the first spec is only parts, I was copying around to findout what's causing it. The red element was because I had a ref to the lower part of the document (which I didn't copy in). The issue is somewhere in the payload I guess..
I de-corporated (stupid NDAs..) the file and will provide it her:

`asyncapi: '2.0.0'
info:
  title: Some software transmission results API
  version: '1.0.0'
  descri

[2022-01-31 12:29] magicmatatjahu commented on #252
@DJGummikuh Thanks very much! Yeah, it's weird that you have invalid two schemas and whole spec is marked as invalid. I will check that, because probably it's not a problem on the Studio side but on the ParserJS side - studio only consumes the output from ParserJS () and marks that sections which are invalid by info from parser.

I updated your spec. First of all, you have invalid format of the `i

[2022-01-31 12:31] DJGummikuh commented on #252
We originally built this file using this editor so it must have worked some time in the past.

Yeah the e-mail error was because I Search and replaced our company and product name ^^ the original was a valid e-mail :D
Thanks for cleaning this up though, will give it a thorough look and try to figure out what went wrong!

[2022-01-31 12:35] magicmatatjahu commented on #252
@DJGummikuh No problem :) That issue will be closed when we fix that strange behaviour of `unsupported 2.0.0 spec`

[2022-01-31 13:41] imabp commented on #252
@DJGummikuh the left one is your version of spec.
I guess, replacing `long` with `integer` worked
![image](https://user-images.githubusercontent.com/53480076/151804045-6cac4138-bb2c-433d-a70d-1f24ef32ed6d.png)

[2022-01-31 13:43] DJGummikuh commented on #252
Yes I can confirm. I used a fresh copy, replaced long with integer and now it's working. However, the object type we use actually IS supposed to be long (ok in the json that we generate it makes no difference, but for java which is parsing it this is relevant). So while it's working now I wonder whether it is ok the way it is :thinking:

[2022-02-01 22:08] mcturco commented on #218
Hi 👋
Here are some options for the button. Let's vote on the options here with emojis:

![Screen Shot 2022-02-01 at 5 06 36 PM](https://user-images.githubusercontent.com/60163079/152059693-9fcb07f6-15d2-40d4-a9a7-fefd3b4a6e25.png)

Option 1: react with a ❤️
Option 2: react with a 🚀
Option 3: react with a 🎉

And of course if anyone has any feedback let me know 😄

[2022-02-02 02:01] alequetzalli commented on #218
pretty! :)

[2022-02-02 17:03] fmvilas commented on #218
@mcturco Love them all! 🙌 Let's make sure they work well on the dark background too.

[2022-02-02 17:44] mcturco commented on #218
@fmvilas aha! Good call. Option 2 will not work the best on dark mode. We could always add a white border around the button to give it the separation it needs on dark mode, but still there might not be enough contrast there.

[2022-02-08 10:22] jonaslagoni opened #261 "Split out visualizer"
#### Reason/Context
I have raised this before but lost somewhere, or at least I cant find it 😅

I would like to have the Visualizer split out from Studio so we can start to use it and develop it independent of the studio.

#### Description
I already had the need for it and had to fork it from the studio and decouple it (can't recall what had to change, but something did). I especially needed it to

[2022-02-14 11:38] magicmatatjahu commented on #200
Action points:
- create new component to render new "view" where we will support mentioned possibility:
  - it should have one `textarea` section where people will be able to pass the example payload/headers.
  - it should have `select` section where people will be able to select given `payload/headers` from existing AsyncAPI doc
  - it should have section where we will show possible errors.
- it

[2022-02-14 11:57] magicmatatjahu commented on #198
Fixed in the https://github.com/asyncapi/studio/pull/201

[2022-02-14 11:57] #198 closed

[2022-02-14 11:59] magicmatatjahu commented on #147
Implemented by https://github.com/asyncapi/studio/pull/158 and https://github.com/asyncapi/studio/pull/201

@boyney123 If you think that we should leave it open, please write why and of course reopen it :)

[2022-02-14 11:59] #147 closed

[2022-02-14 12:01] magicmatatjahu commented on #86
We have such a project in our organization (https://github.com/asyncapi/server-api) and we are very close to integrate first path (`/generate` - https://github.com/asyncapi/studio/pull/229). I close it, please reopen if you need.

[2022-02-14 12:01] #86 closed

[2022-02-17 15:51] magicmatatjahu opened #265 "Drag&drop AsyncAPI block builder"
Currently we have in the studio Visualiser which renders the flow of operations in an application described using AsyncAPI. Unfortunately it only works in readonly mode.

A very good solution would be to add the ability to create AsyncAPI specifications from scratch (or update existing one) using drag and drop blocks, which could be connected, similar to the current blocks in visualiser.

Project

[2022-02-17 16:20] magicmatatjahu commented on #213
Related https://github.com/asyncapi/studio/issues/265

[2022-02-17 19:15] fmvilas commented on #265
Initially, I'd add just one kind of block, for Message. There would be an initial block you can't remove (the app, as it is right now). Then you can connect the app with multiple message blocks. The connections are the operations (publish or subscribe for now). When you create a new connection, it asks you which channel and which operation you want to perform. In the modal/form asking you for chan

[2022-02-17 21:22] mcturco commented on #265
@magicmatatjahu @fmvilas I actually would love to discuss this over a video call some time (maybe we should live stream it as well so others can join) but I am wondering how this idea can tie in somehow the work that is needed for the design system

[2022-02-18 16:11] magicmatatjahu commented on #265
I don't think this is a problem, because the most serious problem here is how to code the logic and test everything, changing styles can be done at the end of GSOC once we have some components from another GSOC task :)

[2022-02-21 20:48] asrient commented on #265
This sounds interesting, will like to work on this for gsoc.

[2022-02-25 11:16] fmvilas commented on #265
This is what I meant:

![Types of diagrams](https://user-images.githubusercontent.com/242119/155704852-377f64bc-a1c9-44a3-9fd5-176a63e441ee.jpg)

You start with the application block (can't be deleted). We offer only two types of blocks: message and broker. You should be able to connect messages with the application (probably only with the server interface, if there is one). You should be able to

[2022-02-28 11:57] michael-j-oreilly opened #278 "reference object throwing error in Studio"
#### Describe the bug
I am receiving an error in studio when leveraging file paths as part of the reference object.

Offending yaml
`- $ref: '../models/base-event.yaml#/components/schemas/BaseEvent'`

Error shown
`undefined is not an object (evaluating 'e.t0.errors[0]')`

#### How to Reproduce

Leverage AsyncAPI studio to create the following schema (below)
Use a relative file path in the referenc

[2022-02-28 12:08] magicmatatjahu commented on #278
@michael-j-oreilly Hi! As I see you are using the local reference to the file and atm we don't support that because we do not have access to the filesystem in the browser. `backstage` is also a web app, so it should also won't work, but you can create issue for that in the `backstage` repo.

We are using underneath the 3rd package to resolve all reference (to make pure JSON with all data) but sure

[2022-03-01 13:50] michael-j-oreilly commented on #278
Thanks @magicmatatjahu for the quick response, really appreciated. That makes sense. I will reach out to the backstage repo with the bug and get that on their radar as well.  I will also enter a feature request as advised.
Not sure on handling the local-file system, I guess we would need to look at approaches to parsing directories. I will defer to you guys the experts on this one :)
I will close

[2022-03-01 13:50] #278 closed

[2022-03-02 16:21] mcturco opened #284 "Create onboarding for features of Studio"
#### Reason/Context
I think the Studio could use an onboarding process where there are a few steps for new users to go through to get started in Studio, especially if coming from Playground. I think it could be a modal with 3-5 simple steps to getting started, perhaps explaining that you can start from a template, show the visualizer, etc. I think we could also use highlighting at each step in the

[2022-03-05 14:03] Dzordzu opened #288 "NetworkError when $ref is http(s) link"
#### Describe the bug
`Error downloading https://de2sert.docs.dzordzu.pl/basic.json NetworkError when attempting to fetch resource.`

#### How to Reproduce
Example configuration

[code]

- Screenshots
![image](https://user-images.githubusercontent.com/17514622/156886654-b80fc74b-e678-4e87-96ec-7da16e5e8488.png)

#### Expected behavior
Reference works as expected

[2022-03-06 15:35] Dzordzu commented on #288
Ok, it happens to be a CORS issue (as always…)

[2022-03-06 15:35] #288 closed

[2022-03-08 15:59] mcturco commented on #224
Hi all! Sorry for the delay on my part for this issue. Going to add this back onto my list as we are working towards launching the new brand stuff. I will be using the new logo/colors/typography for this open graph 👍

[2022-03-09 16:05] mcturco opened #289 "Update studio logo"
#### Reason/Context
As we are beginning the process of rolling out the new brand, I think it would be a good idea to swap the old logo for the new Studio logo as shown below:

![AsyncAPI Studio New Logo](https://user-images.githubusercontent.com/60163079/157478504-02a7938c-2d39-44bb-aaea-497d9ce63f61.jpg)

Figma file: https://www.figma.com/file/XFSjXtubDX5rxpFd7bYyIC/?node-id=2%3A29

You should be

[2022-03-09 16:10] magicmatatjahu commented on #289
@mcturco Hi! As I see, people have to create account in the figma and no everyone doesn't have/wants an account there. Maybe you could export and add to the issue zip as attachment with those svg yourself? :)

[2022-03-09 16:29] Namyalg commented on #289
I would like to take this up

[2022-03-09 16:46] mcturco commented on #289
@Namyalg Awesome! Go for it 😄

[2022-03-11 15:17] mcturco opened #290 "Update README with new logo banner"
#### Reason/Context
This is to replace the old AsyncAPI logo in this repo's README with the banner attached below that represents the new branding.

**Here are a few guidelines for this change as well:**
1. Make sure you are using [Markdown syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) onl

[2022-03-11 17:04] fmvilas commented on #290
Doesn't Studio have its own logo? 🤔 May be worth putting it here instead of this banner?

[2022-03-11 19:34] mcturco commented on #290
@fmvilas I was wondering the same thing but wasn't sure... Yeah I guess now that you bring it up, it would be fine since the asyncapi mark is still in the studio logo.

Do we like something like this? Let me know if we should change the description (cc @magicmatatjahu)

<img width="830" alt="github-repobanner-studiov2" src="https://user-images.githubusercontent.com/60163079/157941392-f9b1c43e-dc25

[2022-03-11 22:25] magicmatatjahu commented on #290
@fmvilas @mcturco

In the description of the repository we have:

[code]

We don't only visualize AsyncAPI, but also do other things (that's why we talk also about design of EDA).

[2022-03-15 08:09] lindhe opened #292 "Template Request: AMQP"
#### Reason/Context

On [LKAB](https://www.lkab.com/), we work a lot with AsyncAPI definitions for RabbitMQ (AMQP) applications. It would be lovely to have an AMQP template to start from, since many terms (queue, exchange, topic, etc.) are described by AsyncAPI in slightly non-obvious ways sometimes. I think it can be inspired by the MQTT template, since they are fairly similar protocols...

[2022-03-15 09:45] magicmatatjahu commented on #292
@lindhe Hello! Thanks for that issue. I guess that you mean that kind of template, am I right?

![image](https://user-images.githubusercontent.com/20404945/158350353-9b4c0878-9f5d-49e7-958e-080da8513d11.png)

That templates are copied from this place https://github.com/asyncapi/spec/tree/master/examples so better would be move that feature request to the `spec` repo and contribute to `examples` fo

[2022-03-15 12:08] Clay111313 opened #293 "Template Request: { template name and type }"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?

#### Description
Please try answering few of those questions
- What changes have to be introduced?
- Will this be a breaking change?
- How could it be implemented/designed?

[2022-03-15 15:34] fmvilas commented on #290
I actually like the second option better 😄 I don't care to scroll tbh.

[2022-03-15 22:12] lindhe commented on #292
Yep, that's what I mean! :)

Alright, thanks for pointing that out! It sounds indeed like we should move this feature request over there. Please feel free to move it! Thanks!

[2022-03-15 22:15] lindhe commented on #292
Come to think about it, I suspect a link somewhere is leading to the wrong place then! I got sent to create the Issue here by reading "Don't see what you're looking for? [Request a template or add one to the list →](https://github.com/asyncapi/studio/issues/new?assignees=&labels=enhancement&template=enhancement.md&title=Template%20Request:%20{%20template%20name%20and%20type%20}) and clicking the l

[2022-03-16 10:52] magicmatatjahu commented on #290
We can go with the second option.

[2022-03-16 10:54] magicmatatjahu commented on #292
@lindhe Yeah, you're right 😅 I forgot how exactly it works (I didn't implement that part).

Yes, it should take us to the `spec` repo. I will handle that.

[2022-03-16 12:02] #293 closed

[2022-03-16 13:58] magicmatatjahu commented on #290
@mcturco I also noticed that we should change the photo in the `og` metadata. Currently the old logo is still there.

<img width="534" alt="image" src="https://user-images.githubusercontent.com/20404945/158606520-601af3ae-0623-445f-9cb3-cd6e3daf32ed.png">

[2022-03-16 14:04] mcturco commented on #290
@magicmatatjahu good call! Do you want to open up a separate issue for that?

[2022-03-16 14:17] magicmatatjahu opened #295 "Update OG metadata picture with new logo design"
This is to replace the old AsyncAPI logo in the OG metadata picture with the new logo that represents the new branding.

Place with `og` media -> https://github.com/asyncapi/studio/blob/master/public/index.html#L19

@mcturco Will post a new picture :)

[2022-03-16 14:17] magicmatatjahu commented on #290
@mcturco https://github.com/asyncapi/studio/issues/295 :)

[2022-03-16 17:07] mcturco commented on #295
Here are a few options of images that we could use. Let me know which one we should go with! I personally like option 3 the best

Option 1
![studio-og-image_v1](https://user-images.githubusercontent.com/60163079/158647291-bf6fe4cc-18f9-4aa4-81f3-3e5e7ad50a3e.jpg)

Option 2
![studio-og-image_v2](https://user-images.githubusercontent.com/60163079/158647319-076876eb-daa3-4932-873d-ac0ffe40fa7f.jpg)

[2022-03-25 08:22] svenwal opened #297 "Docker image is broken "set-public-url.sh: applet not found""
#### Describe the bug
When trying to start any Docker image > 0.6.0 it fails starting with the following errors in the logs

/docker-entrypoint.sh: /docker-entrypoint.d/ is not empty, will attempt to perform configuration
/docker-entrypoint.sh: Looking for shell scripts in /docker-entrypoint.d/
/docker-entrypoint.sh: Launching /docker-entrypoint.d/set-public-url.sh
set-public-url.sh: applet not fo

[2022-03-25 22:35] #290 closed

[2022-03-28 08:17] magicmatatjahu commented on #297
I use almost the latest docker `20.10.13` and macOS `12.1` and everything works for me including older versions. I think it must be a problem with your version of docker, or possibly your system - I remember that docker worked badly on windows, but I do not know what the situation is now, because I do not use that system for several years.

[2022-04-03 14:07] maximehamm opened #302 "Integrating Asyncapi Studio into Angular app"
I would like to integrate AsyncAPI Studio into [Akwatype](https://project.akwatype.io).
Today it is possible to navigate from an Akwatype OpenAPI description to SwaggerEditor...
We would like to do the same for Async API

Can you provide a solution, like [SwaggerEditorBundle](https://github.com/swagger-api/swagger-editor/issues/2149) ?

Here is how it looks like for OpenAPI:

<img width="1247" alt

[2022-04-03 16:14] #302 closed

[2022-04-05 12:56] magicmatatjahu commented on #297
@svenwal Will you give some info about your system/env?

[2022-04-06 15:59] magicmatatjahu commented on #295
Resolved by https://github.com/asyncapi/studio/pull/291

[2022-04-06 15:59] #295 closed

[2022-04-06 15:59] #289 closed

[2022-04-07 03:24] xiashenghui opened #304 "Template Request: { template name and type }"
asyncapi: 2.3.0
info:
  title: 消息发送
  version: 1.0.0
  description: 此服务负责权限共享审核人员消息发送

servers:
  test:
    url: test.mykafkacluster.org:8092
    protocol: kafka-secure
    description: Test broker

defaultContentType: application/json
channels:
  core.apply.share.open:
    subscribe:
      message:
        $ref: '#/components/messages/apply_share_open'
  core.apply.share.close:
    subscribe:

[2022-04-07 08:03] #304 closed

[2022-04-08 11:07] smoya commented on #207
@magicmatatjahu What do you think about this one? I think it is valid?

[2022-04-14 13:42] andreas-habel opened #309 "TypeError: Cannot read properties of null (reading 'json')"
#### Describe the bug
When working with the studio and pasting/typing the below spec, the site crashes (complete white screen) with the following error in the Browser Console
[code]

#### How to Reproduce
- Start with a private browsing session and go to https://studio.asyncapi.com/
- Replace the given spec from `Streetlights Kafka API` with

[code]

This spec is for sure incomplete, however the s

[2022-04-28 18:29] magicmatatjahu commented on #309
@andreas-habel Hello! Sorry for such a long delay! I was on a little vacation two weeks ago and when I came in I most likely missed it in the notifications I was looking through while I was gone. However, the problem is fixed and I apologize again!

[2022-04-28 18:30] #309 closed

[2022-05-04 14:07] jonaslagoni commented on #261
Last community meeting, I introduced the library I have been working on. Still a work in progress, but as soon as it reach v1 I will provide a PR to the studio, proposing to integrate it 🙂

https://youtu.be/StG6feflHjM?t=1732

[2022-05-05 12:29] magicmatatjahu commented on #297
I am closing due to lack of response. Reopen when needed.

[2022-05-05 12:29] #297 closed

[2022-05-05 12:30] magicmatatjahu commented on #207
I think it's still relevant :)

[2022-05-07 18:48] wh0sumit commented on #265
Hey everyone,

I have gone through this issue tread and found it pretty interesting to work on. Something that I am able to understand by going through all of your messages. I have worked with React Beautiful DnD before thus I am able somehow to get what we are trying to do here.

**This is what I think we are trying to do**

So we need to create a visual interface to manage and create APIs with E

[2022-05-09 10:15] yashsehgal commented on #284
Hey @mcturco If nobody is working on it feature then I'd love to work on it.

[2022-05-09 14:40] mcturco commented on #284
Yes @yashsehgal !!! Please go for it, and I will be here for assistance/feedback as well 😄

Get with @magicmatatjahu to pin point what major things we want new users to know when first opening Studio. He should know what the major differences are vs the old Playground, but I would also focus on the features that seem to be the most useful, like "Start from a Template", "Event Visualiser", "Generat

[2022-05-09 15:54] yashsehgal commented on #284
Sure @mcturco Thanks for the explanation, made a lot of things clear for me to get started.

@magicmatatjahu Please provide an idea on what potential steps/things we need to add in the onboarding flow.

Sounds nice, I can try creating a rough flow as a sketch to implement the steps you've mentioned. Will share here soon. 🚀

[2022-05-09 16:57] mcturco commented on #265
Just want to mention that this is also a GREAT project for product design contributors! I think before we jump into code, it would be useful to do some foundational research and UX ideation

[2022-05-11 14:47] magicmatatjahu commented on #284
@mcturco @yashsehgal Hi!

I just have a question in which direction we want to go, is it in highlighting relevant elements with hints or rather a modal that will describe various functionalities with pictures of how to do something? Personally I always preferred the second option.

Modals are currently available, we just need to add left and right scrolling functionality. As for that first option

[2022-05-11 17:15] mcturco commented on #284
My original idea was that we would have a step by step modal that would highlight the features of Studio if it is your first time opening it. Like a "Hi! Welcome to AsyncAPI Studio. Get started in just a few steps" kind of thing. The modal may move around the screen as you cycle through the steps to highlight the features. Is that something that you think is possible, @magicmatatjahu?

It might be

[2022-05-12 14:38] wh0sumit commented on #265
In order to better understand how we are going to implement the blocks and what other things are going on, let's start with the frontend first.

- The current response coming from the Kafka broker can be shown to the application part, along with a button to add comments and likes.

- Whenever the user clicks on the button, a modal will be opened/or we can open a sidebar, whichever way we like, whe

[2022-05-13 16:58] yashsehgal commented on #284
![image](https://user-images.githubusercontent.com/62352288/168324918-6c312187-4122-46ad-bc23-c2cefafa9420.png)

I have created a very basic UX Flow for the onboarding process.

**What's happening in this diagram?**

1. At the very first step, when a user is going to go to `studio.asyncapi.com` we can check if the user is new or an existing user by utilizing local-storage feature. We can maybe cre

[2022-05-15 03:47] asrient commented on #265
Hi, thanks for mentioning me. I will keep an eye to see if I can find something suitable for me.

[2022-05-16 07:00] magicmatatjahu commented on #265
@asrient Hi! So you don't want to handle that task?

[2022-05-16 07:11] magicmatatjahu commented on #265
@wh0sumit You only partially understand task. You should not focus on brokers/kafka/business logic etc, but only on structure of AsyncAPI spec - https://github.com/asyncapi/spec/blob/master/spec/asyncapi.md Here we should create tool to build AsyncAPI by blocks like here

![image](https://user-images.githubusercontent.com/20404945/168537893-3f127949-a40d-440c-bf7c-b2d7fcb4ef91.png)

As you can see

[2022-05-16 20:01] mcturco commented on #284
@yashsehgal 🎉  🎉  🎉  This looks stunning!

Okay yes, I agree the single modal would be a good idea as long as we have screenshots of the main features.

I love it overall, so I am going to say move forward with this idea keeping in mind the following questions that I have:
- Wondering if we should group the "Previous" button next to the "Next" button? I wonder if that makes more sense as they have

[2022-05-19 18:05] yashsehgal commented on #284
Thanks for your feedbacks @mcturco @magicmatatjahu
I have followed your points and tried to implement a basic UI flow for our onboarding feature.

Hope you are going to like my work.

- Demo deployment of the component: https://onboarding-flow.vercel.app/
- Check out the React code here: https://github.com/yashsehgal/onboarding-flow

[2022-05-19 18:19] magicmatatjahu commented on #284
@mcturco

Yeah, we can also show bullets and the highlighted bullet would show which slide we are currently on. I think this is a more common solution because every time I think about slides in web applications the order is determined by bullets.

Yeah, atm we don't have that icon in normal modals - we should fix it.

What do you have in mind about "overlap"? Do you have some examples (it can be s

[2022-05-19 18:24] magicmatatjahu commented on #284
@yashsehgal Hi! I like it very much. Of course there are different animations/styles that we have currently in Studio, but overall we should go in this direction. Also as I wrote in my previous comment, we should have also something like "tabs" or list of features that people will have easy mode to "switch" between tutorials - having everything in one carousel can be problematic in the future.

Ho

[2022-05-19 19:48] yashsehgal commented on #284
Thanks, I am glad you liked it.
Alright, so I can add a tab feature to switch between general carousel flow and tutorials list. Thanks for mentioning this point, I forgot about it before.

Oh, this is actually the scroll-bar I have styled for scrolling images. In case we want to add multiple images, the user slide scroll horizontally to see all the photos/screenshots.

[2022-05-20 09:10] magicmatatjahu commented on #284
@yashsehgal Hah, ok 😄  I don't think so that we should add multiple images for single slide, one pic - one slide should be good.

Also about indicators, we should try implement dots indicators like in these examples:

https://tympanus.net/Development/DotNavigationStyles/

[2022-05-20 19:49] mcturco commented on #284
@magicmatatjahu

I think @yashsehgal was showing a bit of the next image (must be to indicate the horizontal scrolling images), so that's what I was questioning whether we needed that. I think we can create an illustration/image that can represent each slide

Yeah, I think that is something that could be resolved via a PR for this issue, unless you think we should resolve that in a separate issue

[2022-05-20 19:50] mcturco commented on #284
Agreed with @magicmatatjahu on this one! 😄

YES! Exactly what I had in mind. I think any of these implementations could work 😄

[2022-06-05 14:08] abhaclr opened #355 "Template Request: { asyncapi }"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?

#### Description
Please try answering few of those questions
- What changes have to be introduced?
- Will this be a breaking change?
- How could it be implemented/designed?

[2022-06-06 07:30] antoineApi opened #356 "Run AsyncAPI studio without internet"
#### Reason/Context
- The current tool retrieves the loader.js file at first launch (from internet) which is then placed in the cache. At next launches, the file is retrieved directly from the cache
- Some users may need to setup the AsyncAPI studio in an environment without internet. In that case, launch is not possible since the loader.js file cannot be retrieved from internet

#### Description

[2022-06-06 14:59] magicmatatjahu commented on #265
@wh0sumit @asrient this idea was selected for AsyncAPI Mentorship 2022 -> https://github.com/asyncapi/community/discussions/376#discussioncomment-2890658

The problem is, I don't know who to pick. @asrient you was first, but you @wh0sumit described own approach (so I guess you thought longer about this project). Let me know if you're still interested, because one of you might not be anymore and it

[2022-06-06 18:15] mcturco opened #358 "Add CTA for user survey that we are currently running"
We are currently running a survey as mentioned in this issue: https://github.com/asyncapi/asyncapi-react/issues/593

I am proposing that we add a call to action within the UI of the Studio to attract more survey participants. I would like to work with the other code maintainers of this repo to see what components we already have in the UI that we might be able to use for this CTA.

I'm thinking th

[2022-06-06 23:05] mcturco commented on #358
Added the design for this new component here:
https://www.figma.com/file/2z8q94xzpb037SrVCjNa2L/?node-id=2%3A37

The link to the survey is here: https://forms.gle/js9Bibu1hug6Yzzb7

Let me know if there is anything else you need to complete this, I should have everything set up so you can export from figma, but if that's not working let me know!

[2022-06-07 18:06] #358 closed

[2022-06-08 08:28] turbinenreiter opened #360 "`ERR_OSSL_EVP_UNSUPPORTED` on `npm start`"
#### Describe the bug

Starting the studio fails with:

[code]

#### How to Reproduce

Run

`npm install`

`npm start`

on Fedora 36 with node v16.14.0.

#### Expected behavior

I expected the studio to start.

[2022-06-09 20:05] yashsehgal commented on #284
Hey,
Sorry for taking a pause on this feature, I was having my final exams.

I have added a small feature to show the progress of the onboarding steps in the component.
I tried to add the dots-concept that @magicmatatjahu shared at https://tympanus.net/Development/DotNavigationStyles/

But I was not able to implement it properly, was getting some logical issues.
Thus, I tried to add something like

[2022-06-10 09:30] smoya commented on #218
I think this is still relevant as some work has been done around it. Can we remove the `stale` label, please? @mcturco @magicmatatjahu

[2022-06-13 15:36] mcturco commented on #284
@yashsehgal I want to challenge your decision of using a progress bar instead of the step indicator.

In UX design, a status bar indicator design pattern is expected more often in a loading screen where a percentage is also shown to illustrate how much longer in the process there is left before the user can expect the application to be **loaded.** While I have seen this progress bar used in things

[2022-06-14 10:45] magicmatatjahu commented on #360
@turbinenreiter Hello! Thanks for the issue. Could you try to run `start` script by exporting given env?

[code]

or try this one https://roytuts.com/how-to-fix-err_ossl_evp_unsupported-in-react-js-application/

Let us know what fix help you and we will try to propagate it in project.

[2022-06-14 10:45] #355 closed

[2022-06-14 10:57] magicmatatjahu commented on #284
@mcturco @yashsehgal yeah, I agree with Missy, status bar indicator in our case isn't good approach, we should go with dots indicator, of course as you said, there is a some problems with implementation so I can help you with this.

However, I insist that you start developing the code for the new modal in Studio's source code and not in a separate project - if you were planning to make the modal a

[2022-06-15 04:39] yashsehgal commented on #284
Got your points @mcturco and @magicmatatjahu

So, I can start implementing the dots and slider-count feature instead of the progress bar.

Of course not @magicmatatjahu, I have created a separate repository just to properly learn and implement this feature then I will code the final component "confidently" in the main studio's project repository.

Also, just got a thought of it, I am gonna make a

[2022-06-17 15:03] JSSAggie opened #362 "Add the ability to launch studio without editor and new file options"
#### Reason/Context
We are tooling up the AsyncAPI API lifecycle in our organization and we think that stdio is a great tool for local development.  We envision the DX being that a developer works on a spec locally and renders the visual form in Studio (locally) before raising a PR.  We would love to use Studio as the IDE but because it does not support local $ref we are struggling with this part.

[2022-06-21 08:57] turbinenreiter commented on #360
`--openssl-legacy-provider` did not help.

[2022-06-22 18:09] mcturco commented on #218
Here are some new options that work on both light mode and dark mode! Looking for feedback 🙏

![OpenInStudio - Options](https://user-images.githubusercontent.com/60163079/175107021-b728dcbc-a610-448b-85b5-b98f865df19d.png)

[2022-06-23 08:04] smoya commented on #218
I love them! Even though I have a suggestion, I'm gonna say they could stay like this and I will be happy anyway 😅

I would suggest to try the following: the logo outline (maybe all lines of it) to have the same color as the text. Maybe it won't look pretty nice, but right now I feel is a bit darker than I would expect. Maybe there is another solution for it, or it is just my perspective and no on

[2022-06-27 12:28] magicmatatjahu commented on #284
@yashsehgal Awesome! One thing that we should improve: Dots should be clickable, so it means that people can go to appropriate slide without reclicking `next`/`prev`.

Of course you can start implementation in Studio. Let me know if you will have any problems with setup dev env and with code!

Also @mcturco Could you refer to that comment https://github.com/asyncapi/studio/issues/284#issuecomment-

[2022-06-27 12:35] magicmatatjahu commented on #284
@yashsehgal However, I wonder if we should use some existing libraries for such a things, like a http://react-responsive-carousel.js.org/ What do you think? I know some of your work will be wasted, but by using the library we will have mobile support as well (I mean swap behaviour).

cc @mcturco

[2022-06-27 12:45] yashsehgal commented on #284
Yeah, I don't have any issues with that. If there's already a library/package supporting this feature. We can go for it, for sure.
I will try to implement a similar component using the [react-responsive-carousel](http://react-responsive-carousel.js.org/) and will let you know, when I am comfortable to start with the main studio repository.

[2022-06-27 15:35] mcturco commented on #284
Sounds good to me! As long as we can still customize the layout using this react slider, I am cool with it!

@yashsehgal as far as styles go, I would reference the Popover component that we just added to the Studio for the onboarding window. Look at border radius, padding, type styles, button styles and use as much of what is there for this new component.

![Screen Shot 2022-06-27 at 11 33 37 AM](

[2022-06-27 16:49] yashsehgal commented on #284
For sure @mcturco I will keep the existing design patterns in my mind, while implementing this feature.

[2022-07-04 09:10] magicmatatjahu commented on #360
@turbinenreiter Any update?

[2022-07-04 09:12] magicmatatjahu opened #375 "Use latest version of monaco-yaml and monaco-editor"
As described here https://github.com/asyncapi/studio/pull/352#discussion_r912790789 we have problems with latest `monaco-yaml` and `monaco-editor` dependencies. We should bump them to the latest versions and fix all webpack-related problems (by ejecting react-scripts, using cra or by separate process before building).

[2022-07-04 10:17] magicmatatjahu commented on #356
@antoineApi Ok, new version of studio `0.12.4` is out and I was able to fix this problem with the external loader. I check the network tab in the browser and the only sources are from our site (nothing external), so the build itself should already go without internet. Let us know. I am closing the issue, but if there would be any problems then give a comment :)

[2022-07-04 10:17] #356 closed

[2022-07-05 06:54] fmvilas commented on #218
Yeah, I think the background could be lighter, even if it means we have to use another text color to increase contrast. Also, @mcturco don't you have the feeling that the button is beveled? I think the inner gradient (the background) is the culprit of that effect 😄

[2022-07-05 10:52] magicmatatjahu commented on #356
Fixed in https://github.com/asyncapi/studio/pull/352

[2022-07-05 14:44] mcturco opened #662 "ToolingUI: Design System v0.1.0"
# Introduction
We would like to create a system of components that can be used for the UI in [AsyncAPI Studio](https://studio.asyncapi.com/) as well as any other future UI tools that get added into the AsyncAPI org.

There should be a range of components from a tiny scale to a large scale. The visual design of the components does not need to match any specific branding, but needs to be accessible

[2022-07-09 08:53] yashsehgal commented on #284
I have tried implementing the same onboarding component using react-responsive-carousel but was finding it a little complex to work with. I have tried with multiple ways and looked on the internet too but the stylings that they've shown on their website is not working while implementing those features.

Also some features are very different from what we want in a slide-based carousel. Things that

[2022-07-11 15:24] mcturco opened #380 "Hide survey popover"
# Description
The user research survey is now closed, so we will need to hide/remove the survey popover component from production.

![Screen Shot 2022-07-11 at 11 23 46 AM](https://user-images.githubusercontent.com/60163079/178299488-6bdb8c74-01c4-4f22-885c-808cc7e53960.png)

[2022-07-18 13:27] #380 closed, assigned to nobody

[2022-07-21 08:06] wh0sumit opened #389 "Block Representation for Drag & Drop Project"
Since we were planning to create blocks before implementing the coding part on the drag & drop project, we have to discuss the representation/structure of the blocks first.

Assume that a user adds a block on the visualizer using by dragging and dropping it. After that, the user will be able to edit the block's title, description, and other things.

so, for changing the title or description of the

[2022-07-21 10:50] derberg opened #390 "studio gets blank white while writing complex binding"
#### Describe the bug

I took this file and it works:
[code]

but you not always copy/paste, sometimes you write document from scratch. And error happens when I add info manually.

this file breaks UI:
[code]

notice the part I removed:
[code]

[2022-07-21 10:54] derberg opened #391 "when convention modal shows up it should recommend latest version for convertion"
#### Reason/Context

When I paste document in asyncapi version prior 2.4 I get 👇🏼

![Screenshot 2022-07-21 at 12 53 09](https://user-images.githubusercontent.com/6995927/180197297-45cb6433-41dd-4e40-beb7-202c6bf0ae46.png)

This is super cool, but I'd love to improve my experience, and have the latest version preselected, so by default I'd like to see 👇🏼

![Screenshot 2022-07-21 at 12 54 26](https:

[2022-07-21 10:55] derberg commented on #391
/gfi ts

[2022-07-21 11:15] derberg opened #392 "`Import from URL` should not use custom fetching but `parseFromUrl`"
#### Reason/Context

I'm not suggesting a solution. We can still use `parse` function I think. We just need to pass to dereferencing library option that will set proper base URL for dereferencing, so relative `$ref` resolution works.

In other words: I want to import https://raw.githubusercontent.com/asyncapi/spec/master/examples/social-media/public-api/asyncapi.yaml in Studio and have it work and

[2022-07-21 11:17] magicmatatjahu commented on #391
It should be changed here https://github.com/asyncapi/studio/blob/master/src/components/Modals/ConvertToLatestModal.tsx#L117

[2022-07-21 13:43] nawed2611 commented on #391
Hey, Can I work on this issue?

[2022-07-21 14:41] magicmatatjahu commented on #391
@nawed2611 Sure :)

[2022-07-22 10:49] dxps opened #393 "Ask user for reload"
#### Reason/Context

While writing your own spec, if - by mistake - you hit your Refresh shortcut, then you loose all you wrote.
And I'm writing this right after I just faced this issue.
There are options to prevent this, some of them described below

#### Description
Here are some options to support this:

1. For preventing the reload to happen without user's consent, there are simple approaches

[2022-07-22 11:09] magicmatatjahu commented on #393
@dxps Hi! Thanks for issue. About notification, it's good idea, but atm studio saves the content to the local storage. By default option to auto save is enabled - you can check if this option is enabled in the terminal by indication `autosave: on`:

![image](https://user-images.githubusercontent.com/20404945/180426813-33d1dd84-92e5-4711-a1a2-a573b29010b0.png)

If you see `autoload: off`, you can g

[2022-07-22 11:10] magicmatatjahu commented on #393
EDIT: You have also option to save by keybindings: `ctrl+s` or `cmd+s` (mac).

[2022-07-22 11:13] dxps commented on #393
Now, I see that there's something about _localStorage_. But ...
![image](https://user-images.githubusercontent.com/14140226/180426817-aec3b760-29a4-4579-8fbe-3fdc4e38b206.png)

Issues (imho):
1. Seeing that _From localStorage_ label:
    1. I'd expect to get the content from there
    2. OR not even show that specific label when accessing the Studio with `?url=...` since in the latter case might b

[2022-07-22 11:17] dxps commented on #393
@magicmatatjahu
1. Yes, that _Settings > Auto saving_ is also on in my case as well.
2. Did that explicitly also. See the details posted meanwhile.
Thanks.

[2022-07-22 11:37] magicmatatjahu commented on #393
@dxps If you see `from localstorage` label it means that it loads from local storage, but if you load by `url` parameter it shows that it's from url. Of course there's a bug as I see, because editor tries to save value passed by `url` to the localstorage. It should be fixed.

Yeah it should be implemented, but see my comment above about issue.

If you hit `ctrl+s` when you have spec loaded from ur

[2022-07-22 11:50] dxps commented on #393
@magicmatatjahu Yeah, it all makes sense. Thanks for the detailed feedback! :pray:

[2022-07-24 19:35] nawed2611 commented on #391
Thanks, Ill work on it

[2022-07-25 10:11] magicmatatjahu commented on #389
@wh0sumit I think that we should go with modal approach. Through the modal we can edit all the information and not just individual ones (as in the case of the first approach) - and also this will be generally easier to implement.

[2022-07-25 10:23] magicmatatjahu commented on #284
@yashsehgal Implementing such a component from scratch is not a good idea. On our website we try to use swiper https://swiperjs.com/react and it's really great - you can check code here https://github.com/asyncapi/website/blob/471053260bf0346f1db6e728fbfa8649824abe54/components/newsroom/NewsroomBlogPosts.js#L33! Could you test it in your case?

I don't think it's good idea. People should have poss

[2022-07-25 10:54] magicmatatjahu commented on #360
Closing due to lack of feedback.

[2022-07-25 13:57] magicmatatjahu commented on #393
@dxps Hi! I created PR with (probably) fixes for above bugs. https://github.com/asyncapi/studio/pull/394 If you want, you can open preview in mentioned PR and let me know what do you think about changes :) I have one UX problem (described in PR), so it will be helpful for me what users think about that.

[2022-07-25 14:58] dxps commented on #393
That's pretty nice! :+1: Easily reachable and giving you the feeling you control what's stored locally.
Regarding the PR, I'll read the discussion and maybe comment there.
![image](https://user-images.githubusercontent.com/14140226/180807779-c2bd224e-98d9-4d3e-bfda-5a6873c562b8.png)

[2022-07-25 14:59] dxps commented on #393
I played with the preview and it works as expected.
Thanks again! I'll close this issue now.

[2022-07-25 14:59] #393 closed

[2022-07-25 20:25] yashsehgal commented on #284
Yeah sure, I think swiper is good for a feature like this. Thanks for sharing the code for reference as well.

Yeah, that's right. What my idea was is if the user is using studio for the first time, we can use that information to highlight the onboarding feature (so that if the user is new, they'll open it)
And if the user is existing, then also the button for see the onboarding features will be t

[2022-07-26 05:10] yashsehgal commented on #284
One more thing I had to discuss @magicmatatjahu @mcturco

As I am going to start implementing this feature in the main studio repository now, where should I add the action/button to start showing onboarding features.

Should I create an icon action-button in the bottom left, as @magicmatatjahu suggested in [this comment](https://github.com/asyncapi/studio/issues/284#issuecomment-1127704407)

[2022-07-26 11:01] magicmatatjahu commented on #284
I'm in favour of action-button in the bottom left above settings (gear) icon.

[2022-07-26 15:21] nawed2611 commented on #391
Made a PR #395

[2022-07-27 12:49] #391 closed

[2022-07-29 13:50] magicmatatjahu opened #402 "Use custom modals for "url-mode" confirms."
#### Reason/Context

Atm we use native `confirms` "modals" in the `url-mode` of Studio:

![image](https://user-images.githubusercontent.com/20404945/181774501-315f2df0-b812-4d7a-ac76-21dec85b234d.png)

![image](https://user-images.githubusercontent.com/20404945/181774514-b3f3d52c-962f-40b5-b2ea-6c1df4497a67.png)

We should switch to the custom modals, similar to the converter modal.

More info htt

[2022-08-05 17:36] mcturco commented on #199
Finally began working on a solution for this (the stale label reminded me of this idea! 😄)

## Prototype
Here is a video walkthrough of how we can implement this into Studio
https://www.loom.com/share/0ec2e978b93146b7a99da2d3aa6496c9

And here is the figma prototype link if you would like to view it on your own:
https://www.figma.com/proto/FfxMJnvJLpHpAHueKthzxe/Add-tooltips-to-side-navigation?nod

[2022-08-08 09:40] smoya commented on #199
I like this new design, I feel it fixes the issue totally 💯 .

Just a small comment, is the hover animation for the tooltips that figma shows part of the final design? I feel it so slow that confuses me some times, having two tooltips being showed at the same time.

[2022-08-08 19:28] mcturco commented on #199
Thanks, @smoya! I definitely think we can speed up the animation duration. I believe its currently set at 300ms, so we could do 100ms instead.

[2022-08-12 10:53] AceTheCreator commented on #127
@smoya how's it going with this?

Any help needed?

I resumed development on the chatbot and I could really use this feat.

[2022-08-12 10:57] smoya commented on #127
@AceTheCreator AFAIK nobody is working on this feature yet.

[2022-08-12 11:47] AceTheCreator commented on #127
@smoya no worries. I'll look into it and come up with something, then we can iterate from there. what do you think?

[2022-08-12 13:24] smoya commented on #127
Do you feel it falls into https://www.asyncapi.com/roadmap? If it does, I think you are free to pick it up (well we are always free to pick up whatever, but always convenient to follow the roadmap, right?).

[2022-08-21 15:31] steevehook opened #403 "load spec file via Docker volume"
#### Reason/Context

I want to be able to spin up a docker container that has the `asyncapi.yaml` file either passed as a bind mount or env variable, to be able to load that as soon as the container starts, instead of doing that step manually

#### Description

As a user of this Docker image I wanna be able to reference a Docker volume or env variable and automatically load the configuration on co

[2022-08-22 08:53] magicmatatjahu commented on #403
@steevehook Hi! Thanks for the issue! Atm we don't have such a feature for Docker image. We are open for contributions, so if you wanna contribute, you're welcome :)

[2022-08-22 08:54] steevehook commented on #403
Then I guess, PR incoming 😄

[2022-08-22 10:37] steevehook commented on #403
That one time when you wanna contribute to Open Source and you got the wrong laptop, or at least that what it says when I try to run `npm run generate:docker`
[code]

[2022-08-26 12:27] nawed2611 commented on #218
Hey, can I take on this issue?

[2022-08-26 12:56] magicmatatjahu commented on #218
@nawed2611 Sure, but that issue is more related to design that coding, cc @mcturco

[2022-08-31 11:38] aykonsvk commented on #278
any updates on this?

[2022-08-31 11:38] aykonsvk commented on #195
any updates here?

[2022-09-05 07:44] smoya commented on #207
Still relevant

[2022-09-05 08:56] magicmatatjahu commented on #195
@aykonsvk Hi! Currently, I only "work" on this studio. However, at the moment my attention is focused on the new version of [parser-js](https://github.com/asyncapi/parser-js/tree/next-major) which (I hope) should come out in about 2-3 weeks, but the time may also be longer (but I wouldn't want it to be). After that time I want to focus on the studio (and react-component) to add support for several

[2022-09-05 21:23] sandoval opened #407 "Support arm64 architecture in docker image"
#### Reason/Context

- Why we need this improvement?

Currently the docker image fails to start in a machine with `arm64` architecture (e.g. Macs with ARM processors). Even though docker supports virtualization, the `nginx` for `amd64` architectures [fails to start](https://stackoverflow.com/questions/68704538/error-io-setup-failed-38-function-not-implemented-in-nginx-for-arm-m1):

[code]

#### De

[2022-09-17 09:24] nawed2611 commented on #182
Can I take up this issue?

[2022-09-19 12:00] magicmatatjahu commented on #360
@aeworxet has similar problem.

[2022-09-19 12:15] aeworxet commented on #360
This error will appear again as more and more users transition to Node.js v17+.
[code]
https://itsmycode.com/error-digital-envelope-routines-unsupported

The approach with
[code]
works but I would still prefer to modify `package.json` with
[code]
to keep users from frustration and continue uninterruptable shipping of a fully-fledged product.

[2022-09-19 12:44] magicmatatjahu commented on #360
@aeworxet Could you create PR? We will be glad for it :)

[2022-09-19 12:45] magicmatatjahu commented on #360
You can also pass env like:

[code]

[2022-09-22 09:36] char0n opened #431 "AsyncAPI 2.5.0 pre-release notice"
This is a notification for code owners of this repository (@fmvilas @boyney123 @mcturco @magicmatatjahu) to be aware of AsyncAPI 2.5.0 pre-releases:

- https://github.com/asyncapi/spec/releases/tag/v2.5.0-next-spec.2
- https://github.com/asyncapi/spec/releases/tag/v2.5.0-next-spec.3
- https://github.com/asyncapi/spec/releases/tag/v2.5.0-next-spec.4
- https://github.com/asyncapi/spec/releases/tag/v

[2022-09-22 12:48] #360 closed

[2022-09-24 12:34] char0n commented on #431
Update: Following release candidate of AsyncAPI 2.5.0 spec has been just published:  https://github.com/asyncapi/spec/releases/tag/v2.5.0-next-spec.3

[2022-09-27 07:27] char0n commented on #431
Update: Following release candidates of AsyncAPI 2.5.0 spec has been just published:
- https://github.com/asyncapi/spec/releases/tag/v2.5.0-next-spec.4
- https://github.com/asyncapi/spec-json-schemas/releases/tag/v2.15.0-next-spec.3

[2022-09-29 09:56] magicmatatjahu commented on #431
Resolved by https://github.com/asyncapi/studio/pull/442

[2022-09-29 09:56] #431 closed

[2022-09-30 11:48] AceTheCreator opened #445 "Unnecessary assertion since it does not change the type of the expression"
More info about this issue can be found [here](https://sonarcloud.io/project/issues?resolved=false&id=asyncapi_studio&open=AXy8sl50j5oi-A2Dvomb)

[2022-10-01 10:11] AceTheCreator opened #446 "Extract the assignment of "elementsGrouped[element?.data.groupId]" from this expression."
More info on this issue can be found [here](https://sonarcloud.io/project/issues?resolved=false&id=asyncapi_studio&open=AXy8sl3Jj5oi-A2DvomZ)

[2022-10-01 10:13] AceTheCreator opened #447 "Unnecessary assertion since it does not change the type of the expression."
More info on this issue can be found [here](https://sonarcloud.io/project/issues?resolved=false&id=asyncapi_studio&open=AYNkAOrH1pWMtoDLbyQC)

[2022-10-03 06:59] derberg commented on #447
/gfi ts

[2022-10-03 06:59] derberg commented on #446
/gfi ts

[2022-10-04 06:49] nawed2611 commented on #446
Can I work on this issue?

[2022-10-04 06:59] magicmatatjahu commented on #446
@nawed2611 Yes :)

[2022-10-05 06:35] everly-gif commented on #447
Hi, I would like to work on this issue.

[2022-10-05 07:31] magicmatatjahu commented on #265
Still valid.

[2022-10-06 14:21] magicmatatjahu commented on #207
@derberg More specifically by Spectral. We can always override some rule from official Spectral's AsyncAPI ruleset in our Parser, it's not a problem.

[2022-10-10 21:54] dhfherna commented on #447
I would like to work on it. can you assign me?

[2022-10-10 21:55] dhfherna commented on #445
I would like to work on it. can you assign me?

[2022-10-10 21:59] AceTheCreator commented on #445
Hello @dhfherna, we can't assign you an issue. If you are interested in fixing it, please go ahead :)

[2022-10-11 09:21] smoya opened #449 "Migrate package-lock.json file to version 2"
#### Reason/Context

Parser-JS [requires now](https://github.com/asyncapi/parser-js#develop) Node.js 14 and npm7 or higher.
This means `package-lock.json` version should be always set to `2`.

#### Description

In order to unify development requirements, I suggest all repositories to stick with that requirements. In order to do that, the following is needed:

- Clarify this requirement under Devel

[2022-10-11 12:53] dhfherna commented on #445
Ok @AceTheCreator, I'll create a fork to contribute a solution.

[2022-10-14 20:05] rikuson commented on #403
Hey!!
I've made [PR](https://github.com/asyncapi/studio/pull/433) which solves this issue.

It is not only useful for local development but also hosting own specification.
There's usecase that you want to publish your api specification on S3, or Netlify.
Currently, asyncapi cannot satisfy that usecase.

If this PR is merged, you can do this:
[code]

@magicmatatjahu
You were about to help this issu

[2022-10-15 15:53] KarthikBashyam opened #457 "Template Request: { GCP Pub/Sub }"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?

#### Description
Please try answering few of those questions
- What changes have to be introduced?
- Will this be a breaking change?
- How could it be implemented/designed?

[2022-10-15 18:32] jonaslagoni opened #458 "Cannot run studio"
#### Describe the bug
In https://github.com/asyncapi/studio/commit/6c800ab9e901a967e3b6a9b832b641d622a5ecc8 the version change broke studio, and it's no longer possible to run it.

Here is the stack trace I get:
[code]

[2022-10-17 13:56] #446 closed

[2022-10-18 12:25] jonaslagoni opened #460 "Custom schema format produces an error"
#### Describe the bug
Custom `schemaFormat` gives the following error: `T[String(...)] is not a function`

Use the following AsyncAPI document:
[code]

[2022-10-18 14:01] magicmatatjahu commented on #403
@rikuson Hi. Sorry for the delay. I'll check it out, don't worry. I've been sick and have to handle all the notifications.

[2022-10-18 14:04] magicmatatjahu commented on #445
@dhfherna Do you need help?

[2022-10-20 10:34] starlightknown opened #463 "update url of studio after making changes"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
It helps to share the document with others after someone makes changes to the document. Currently the link we share does not direct others to the same document and they still see the unchanged document.
- How will this change help?
This will make sharing easier with doing the base64 encoding and pasting

[2022-10-20 10:40] magicmatatjahu commented on #463
Can you describe it more? Has `base64` to be created and added to the url every time something changes or what?

[2022-10-21 22:20] JhoanAlvear commented on #460
can i help with this issue

[2022-10-21 22:51] dhfherna commented on #445
Hi @magicmatatjahu, sorry, i was participating in other repositories. Today i did two PR and i hope you can review.

[2022-10-23 08:15] nawed2611 commented on #129
Can I work on this issue?

[2022-10-23 08:18] nawed2611 commented on #402
Can I work on this issue?

[2022-10-24 01:51] JhoanAlvear commented on #460
@jonaslagoni  you need register custom schemaformt with method registerSchemaParser

[2022-10-24 07:01] derberg opened #470 "Studio do not work out of the box with new `@asyncapi/specs` 4.0"
#### Describe the bug
Tests are failing with new version -> https://github.com/asyncapi/studio/actions/runs/3298024344/jobs/5439599107
So the bump cannot be performed -> https://github.com/asyncapi/studio/pull/464

#### How to Reproduce
Get locally PR with bump `gh pr checkout 464` and run tests

#### Expected behavior

It should work out of the box, as in 4.0 what we did was that we just removed

[2022-10-24 07:04] derberg commented on #463
@magicmatatjahu it's about adding `?base64=VALUE` by default to URL, and refresh this value on every change, so anyone can easily copy URL and send it to someone. Just like with https://mermaid-js.github.io/mermaid-live-editor/

yes, asyncapi files are sometimes too large, but then, just detect it and do not do it for large files. Makes sense?

[2022-10-24 07:43] magicmatatjahu commented on #463
@derberg question if anyone would like to have automatic `base64` creation. this could be added as an option to the Studio and someone could enable it.

The logic should not be difficult, but the most difficult will probably be with determining whether a given url is the right length because we also have the option of adding to the url the hash of a given element from the template (like `https://s

[2022-10-24 13:25] derberg commented on #463
@magicmatatjahu sure, just remember Studio is in beta. So nothing blocks us from having `base64` by default.

although better might be to add `share` icon next to `...` menu.

I think that it should be simple, and when `#` is there, `base64` should not work. Or, when `base64` is added, `#` is removed. Simple steps, one by one

[2022-10-24 17:34] jonaslagoni commented on #460
@JhoanAlvear IMO the Studio should be able to understand AsyncAPI documents with custom schemas, that is not one of the supported ones, without giving an error 🙂

@magicmatatjahu any guidance you can add to solving it?

[2022-10-25 10:30] magicmatatjahu commented on #460
@jonaslagoni @JhoanAlvear I understand that given error message is misunderstood, but we shouldn't change error's message based on JS error's message, so we should handle that problem in the `parser-js` side. We have PR for that https://github.com/asyncapi/parser-js/pull/449. Also when we will merge it https://github.com/asyncapi/studio/pull/434 we will see these errors:

![image](https://user-ima

[2022-10-25 12:24] jonaslagoni commented on #460
Up to you if you want to leave it or remove it, technically it's not solved, so I would probably say leave it 😄

[2022-10-27 22:33] nawed2611 commented on #463
Can I work on this issue?

[2022-10-28 09:54] #445 closed

[2022-11-02 08:52] magicmatatjahu commented on #463
@nawed2611 Sure, but please make as Łukasz described his solution in this https://github.com/asyncapi/studio/issues/463#issuecomment-1289032605, ok? :)

[2022-11-08 09:46] smoya commented on #224
still relevant

[2022-11-09 13:12] magicmatatjahu opened #484 "Add Jonas Lagoni to the codeowners"
The Studio currently has 4 codeowners. Me, Fran, Missy and David. The problem is that Missy and David currently don't have much time for contributing and review because they are working in other projects or companies, so for "active" (I mean frequent) contribution there is only Fran and me, but Fran also has a lot of other things to do in org. I propose another codeowner, Jonas Lagoni. He has alre

[2022-11-10 23:08] fmvilas commented on #484
Why Jonas? He doesn't contribute much to this repo. As much as I understand your concern, it would not be fair to the community that we invite Jonas as a code owner for Studio. I wasn't aware of this problem and was completely ignoring this repo thinking there were other people taking care. Now that I'm aware, I'll review your PRs more frequently so you don't find bottlenecks.

That said, the next

[2022-11-11 12:48] jonaslagoni commented on #484
I agree with you @fmvilas, but I also understand the frustration from @magicmatatjahu side 🙂

So if you can mitigate the time it takes for getting PRs reviewed and moved along with different means then that is definitely the better solution than adding me as codeowner 👍 Cause it's true I have not done much in this repo, and I would basically serve as a reviewer to move PRs along 😄

[2022-11-11 16:24] AceTheCreator commented on #484
Yeah. I'd definitely ensure to make awareness and onboard folks to contribute to this project and I believe I should definitely lead by example by also actively contributing to it myself too :) @fmvilas

[2022-11-12 18:22] BOLT04 commented on #224
Hello everyone 👋,

I was looking for some issues to contribute and help out, and found this one related to SEO 😃.
@smoya @mcturco Is there anything code related that we can create a PR, even just a draft PR to start with?
From what I understood the code you have on your fork @smoya could just go to this PR. and we'd deploy that Netlify function.

Would love your feedback, if there is anything I ca

[2022-11-14 07:40] #470 closed

[2022-11-22 10:43] magicmatatjahu commented on #460
Fixed by https://github.com/asyncapi/studio/pull/434 PR

![image](https://user-images.githubusercontent.com/20404945/203293962-ce453e86-0bca-45fd-aa2e-bcdc1ca538a7.png)

[2022-11-22 10:43] #460 closed

[2022-11-22 15:17] magicmatatjahu commented on #218
@mcturco Do you have figma/photoshop file that we can reuse with latest design? :)

Of course the tracking for use is important but maybe let's make this button available and add the rest later? cc @smoya @fmvilas

[2022-11-24 08:08] #375 closed

[2022-11-24 12:02] KhudaDad414 opened #501 "improve error highlighting"
#### Reason/Context
I have been using the studio to validate my AsyncAPI file.
the studio currently highlights all of the errors that cause the validation to fail; sometimes it's hard to find the root of the issue.
consider this example:
[code]

If I pass it to the studio it will give me 9 errors which is confusing because it only has one error.

#### Possible Solution
As I see it, we are highligh

[2022-11-24 12:23] magicmatatjahu commented on #501
This is not a "bug" on the Studio's side. Studio uses ParserJS, and it uses Spectral for validation. Spectral itself uses `ajv` to validate the AsyncAPI document structure based on JSON Schema, and ajv throws so many errors. If someone wants, can contribute to the ParserJS/Spectral/ajv itself, but I don't consider it a bug, even on mentioned projects. As for filtering such errors, they depend on h

[2022-11-24 13:25] #193 closed

[2022-11-24 13:25] #199 closed

[2022-11-24 17:55] fmvilas commented on #218
Yup, we have an AsyncAPI Figma account: https://www.figma.com/file/VC4E6Mn6yt5bEnMlzPA2FK/Open-in-Studio-Button?node-id=0%3A1&t=PiHl3pGKYkOxwgNC-1.

[2022-11-25 11:59] magicmatatjahu opened #509 "bug: monaco-yaml cannot fetch http://json-schema.org/draft-07/schema"
#### Describe the bug

`monaco-yaml` library cannot fetch `http://json-schema.org/draft-07/schema` in the production (in dev env it works, probably problem is with insecure `http` protocol). It produces warning like:

![image](https://user-images.githubusercontent.com/20404945/203981387-0fc4535a-ddba-442a-966c-7255c66e6280.png)

Of course, integration still works and we have features like `autocom

[2022-11-25 12:30] magicmatatjahu commented on #224
@BOLT04 It's hard to say where to start because we need to test the Netlify preview feature, write a lambda function that would generate such images (using this vercel-og project and changing it a bit for our use case) and then connect it together. It's hard for me to write where to start and how difficult it is. However, if you want we can discuss it :)

[2022-11-27 21:56] BOLT04 commented on #224
one question @magicmatatjahu, could we start development using a sort of mock design? Then when @mcturco has the final version for this open graph preview, we change the code to use that?

[2022-11-28 04:33] fmvilas commented on #509
Just to clarify: autocompletion doesn't work for me and looks like it's related to this error.

[2022-11-28 09:00] #392 closed